[2020-03-17 15:56] vielmetti opened #21 "README file is missing basic information"
Update the README to include at the minimum a

- one line project description
- link to web site
- one paragraph about the project
- examples of use and guides to getting started
- current status of project maturity, at some level that doesn't need daily changes

Looks like a bunch of this might be answered in depth by #20

[2020-03-18 16:18] nathangoulding commented on #21
This has been resolved.

[2020-03-18 16:18] #21 closed

[2020-03-18 17:55] zsmith928 opened #24 "Support provisioning RPi"
We should support an easy homelab deployment model for Tinkerbell, such as supporting RPi with UEFI (https://rpi4-uefi.dev/) or PXE ([doc](https://www.raspberrypi.org/documentation/hardware/raspberrypi/bootmodes/net_tutorial.md)) .  The goal would be to run core services on a local laptop or computer and lifecycle RPi 3 or RPi 4 devices.

[2020-03-19 02:36] zsmith928 opened #25 "Support provisioning Intel NUC"
We should test and support Intel NUC machines in BIOS and UEFI mode, such as the [Nuc Kit](https://www.intel.com/content/www/us/en/products/boards-kits/nuc/kits/nuc7cjyh.html)

[2020-03-24 05:59] andreiw commented on #24
that would be very cool

[2020-04-02 06:28] gauravgahlot opened #33 "Rename the root CLI command from tinkerbell to tink"
Existing:
`tinkerbell workflow create [option]`

New:
`tink workflow create [option]`

[2020-04-02 15:08] #33 closed

[2020-04-02 17:22] gauravgahlot opened #38 "Use persistent volume to hold registry data"
**Current**
The private registry created with the `docker-compose.yml` used to set up the workflow environment stores all the data in an anonymous volume.

**Expected**
The registry should use persistent volumes.

[2020-04-03 11:49] vielmetti opened #43 "Set up infrastructure for testing on Packet with terraform"
PR #42 sets up infrastructure on Packet for testing, using Terraform for provisioning.

[2020-04-03 20:44] nathangoulding opened #44 "add init support for centos7"
The setup script is not working on a CentOS 7 machine:

[code]

It should also have `set -e` to stop execution if there are errors.

[2020-04-07 14:26] vishal-biyani opened #49 "Getting Started Experience"
The current getting started UX involves a few steps. Instead, it should be as simple as running a single script which encapsulates all other stuff. The script can take inputs from users if needed.

[code]

[2020-04-07 15:44] deitch opened #50 "Website is out of date"
The website http://tinkerbell.org only has two pages, and missing a lot of information that is in the `docs/` in this repo. It is ok to have _much_ more detailed docs on the Website, but it either should clearly have no real guides and point to the right guide in the repo, or should have a good but very simple "getting started" guide. Even better if it aligns with #49

[2020-04-07 15:51] deitch opened #51 "Is the compose file to build it or to run it?"
There is a compose file in this repo, but it isn't completely clear if it is to _build_ tinkerbell or _run_ it. If it is to run it, there are dependencies on git and git-lfs, which make it difficult to "just run".

[2020-04-07 15:52] deitch opened #52 "Can I run it with nothing more than compose?"
Related to #51 , is there a way that I can just run it with a single command, i.e. I get a single config file (`docker-compose.yml` is fine) and it launches it with no additional dependencies? That would be the second-fastest way to get started (the fastest being #49 of course, which would just wrap this).

[2020-04-07 15:55] deitch opened #53 "clarifications for setup page - what is inputenv?"
The [setup page](https://github.com/tinkerbell/tink/blob/master/docs/setup.md) has no info under what to provide in `inputenv`. The file only has a few elements, but some could be read in multiple ways:

* what is host IP vs nginx IP?
* Why are there two?
* Do these need to be on the same network?
* I assume broad_ip means broadcast, but it isn’t self-evident?
* What is the cidr for? Is it the net

[2020-04-07 15:56] deitch opened #54 "What is OSIE for? It isn't in some of the docs"
Where does OSIE fit in? It isn’t in the architecture diagram [here](https://github.com/tinkerbell/tink/blob/master/docs/architecture.md) and isn’t listed as one of the “major components”, so how does it fit in?

[2020-04-07 15:58] deitch opened #55 "Do we need git-lfs?"
What do we use git-lfs for? Based on the `.gitattributes` file in boots [here](https://github.com/tinkerbell/boots/blob/master/.gitattributes), it looks like

* 3 `.efi` files
* 1 `.kpxe` file
* 1 `.go` file; how large could a go file be and what is in it?

More importantly, do these need to be in lfs? Are they actually versioned source, or just generated binaries that we use, and possibly could m

[2020-04-07 16:06] deitch commented on #55
In a direct message conversation, I received some answers from @mmlb .

### efi and kpxe files

The `.efi` and `.kpxe` files are built artifacts, primarily stored here in git-lfs to avoid having to regenerate for CI.

It still is unclear to me if these artifacts are needed _solely_ for CI, or do we need them _also_ to just run tinkerbell stand-alone?

### go file

It seems odd to have a `.go` file

[2020-04-09 09:21] alexellis opened #56 "Style issue with error strings"
According to idiomatic Golang style, error strings should not begin with a capital letter.

https://github.com/golang/go/wiki/CodeReviewComments#error-strings

Almost all of the error strings found in the workflow engine do not follow this rule:

https://github.com/tinkerbell/tink/blob/master/executor/executor.go#L26
https://github.com/tinkerbell/tink/blob/master/executor/executor.go#L89

I don't

[2020-04-09 09:23] alexellis commented on #52
We also had this issue with `boots` - the readme suggests that the code works with no env-vars required, but fails immediately when trying the instructions as given.

When providing env-vars, we got stuck at the hard-coded DNS server on the Internet (see comments)

https://github.com/tinkerbell/boots/issues/7

[2020-04-09 09:23] alexellis commented on #52
cc @vielmetti

[2020-04-09 16:20] nathangoulding opened #57 "update docs to use latest.tar.gz"
On merge to master, we are uploading the latest osie here:

https://tinkerbell-oss.s3.amazonaws.com/osie-uploads/latest.tar.gz

We should update our docs and setup scripts to use this instead of pinning to a particular version.

[2020-04-09 17:57] deitch commented on #56
Some are correct, e.g. https://github.com/tinkerbell/tink/blob/master/executor/executor.go#L61 but @alexellis is correct. We should be running `golint` and `go vet` and `fmtcheck` as part of CI.

I will open separate issues.

[2020-04-09 17:59] deitch opened #58 "Make lint, vet and fmtcheck part of Makefile and part of CI run"
We definitely should be running golint as part of our CI and fail it otherwise. It should be in the Makefile, so anyone can run it.

We also should be running `go vet`.

Finally, we should be running fmt check. We should *not* update the files as part of fmt check (as in `gofmt -w -s <file>`) but should be checking it. It usually is useful to have a `Makefile` target called `fmtcheck` that does th

[2020-04-09 17:59] deitch commented on #58
See the issue raised first by @alexellis #56

[2020-04-10 21:03] nathangoulding opened #59 "expose endpoints"
We need to expose endpoints for the CRUD operations so that external users can interact via means other than the CLI.

[code]
Suggest we start with implementing a gRPC server for these actions.

[2020-04-10 21:04] nathangoulding opened #60 "unify hardware/target data model"
We need to unify the hardware and target data model, and standardize on the changes that @kdeng3849 introduced to switch to the new, easier to comprehend model. This should also remove cacher as a dependency.

[2020-04-10 21:05] nathangoulding opened #61 "cacher/tink persistent volume"
Restarting cacher cannot reset the database.

[2020-04-14 14:59] #61 closed

[2020-04-15 15:41] Ottovsky opened #65 "workflow creation - missing steps"
Hi there,

I setup a tinkerbell in my local environment, all seems to be operational. I tried to setup a workflow following instructions from https://github.com/tinkerbell/tink/blob/master/docs/writing-workflow.md , but ended up with the following error message:

~ # tink target list
+--------------------------------------+--------------------------------------------------------------+
| TARGET ID

[2020-04-15 15:46] gauravgahlot commented on #65
Hey @Ottovsky thank for trying it out.

[2020-04-15 15:59] nathangoulding commented on #65
Issue #60 resolves this, by not requiring you to add a hardware *and* target. You need to push the data model to hardware first, prior to creating the target that references the MAC address.

[2020-04-15 16:53] nathangoulding opened #66 "setup support for CentOS 8"
Issue summary is pretty descriptive - adding support for setting this up on CentOS 8 in addition to CentOS 7.

As part of this, we should consider stopping the script if it's on an unsupported OS.

[2020-04-15 18:13] DavidZisky commented on #66
BIt tricky. The problem is RedHat blocked installation of containerd.io > 1.2.0-3.el7, which is a dependency of docker. Therefore, running a `dnf install docker-ce`, won't work :( it's possible to workaround that by installing specific (older) version of docker but even then DNS resolution (in docker) won't work unless firewalld is disabled... so there are workarounds to make it work but no "nice"

[2020-04-16 07:28] Ottovsky commented on #65
Thanks, looking forward for #60 to resolve it. In the meantime, is there an example how hardware data model should look like?

[2020-04-17 13:41] invidian opened #67 "Document how to get "tink" executable and how to configure it"
I managed to get it using `go get github.com/tinkerbell/tink`.

[2020-04-17 13:42] invidian opened #68 "Make --help work without environment variables set"
Currently running `tink --help` gives me not the nicest panic:
[code]

[2020-04-21 08:21] parauliya commented on #44
This issue has been addressed in PR #62 which is for the issue #49 .

[2020-04-21 09:04] parauliya commented on #57
Hi @nathangoulding , We have updated this link in our setup script. But we are not aware of where to put this link in our docs because we have not added the old/previous link of osie.tar.gz in our docs anywhere. Could you please suggest where to add this link in docs?

[2020-04-21 14:07] alexellis opened #70 "Give known configuration for tinkerbell on a Packet host"
I would like to see a known configuration for the installer script in #62 which provides everything needed without any guess-work or troubleshooting.

I.e. "run these commands" and it results in Tinkerbell being up.

* Packet machine type and region
* OS (if you can use Ubuntu, that would be easier)
* Exact env-vars required to get this to work (I tried the supplied values and the script crashes)

[2020-04-21 14:35] #57 closed

[2020-04-21 15:01] DavidZisky commented on #70
Provided sample vars works fine for default Ubuntu 18.04 packet installation. The issue is in the script itself:

https://github.com/tinkerbell/tink/pull/62#issuecomment-617229081

@gauravgahlot already updated the script to use ifconfig and I just tested it so I can confirm that supplied example vars works fine. Feel free to test yourself and let me know if it works for you too

[2020-04-21 17:37] alexellis commented on #70
Thanks for helping with this. Can you elaborate on what you mean by "it works fine"? When I ran through the steps and it did not? Do you mean it **will** work fine when #62 is merged (or now that it's been updated)?

[2020-04-21 17:41] DavidZisky commented on #70
By "it works fine" I mean you no longer hit "unknown interface" error and script will fail on a later step (logging to docker registry) due to different error. And I mean when #62 gets merged of course. But I'm seeing few more issues with networking so, which makes docker login fail I guess so while the example configuration is fine - it won't work until all the issues in the script get resolved.

[2020-04-21 17:43] alexellis commented on #70
Thank you for clarifying, so I am not going crazy 😄

[2020-04-21 19:54] #50 closed

[2020-04-21 22:17] mrmrcoleman commented on #50
@deitch Closed as this is captured elsewhere.

[2020-04-22 07:07] parauliya commented on #51
Hi @deitch ,
Please have a look at pull request #62 . There is compose file in this pull request which is the updated one. This compose file contain few containers which will be build instanlty and run and for the remaining containers it will just fetch the image from `quay.io` and start the container. Hope this helps.

[2020-04-22 13:24] invidian opened #71 "Add ability to reboot the machine after workflow is finished"
For workflows, which provision the OS, it would be nice if the workflow itself could reboot the machine, after it's done, so the machine can boot itself into target OS, so the upper orchestration system (e.g. person who monitors provisioning process, some kind of logic which use IPMI etc.) don't need to care about that.

Things to consider:
- worker can be part of multiple workflows. Perhaps reboo

[2020-04-22 13:32] invidian opened #72 "Worker should not exit once all workflows are finished"
Currently worker polls for new workflows while some other workflows are running, but when they are all finished, it exists. That seem counter-intuitive and requires from user to reboot the machine to run more workflows, which may not be even possible, if one workflow already installed the OS and then machine will boot from the disk.

It seems worker should wait infinitely for new workflows. See al

[2020-04-23 09:13] deitch commented on #51
Looks like it addresses it. I will leave this open until that is merged in, reread the docs and see if we can close it.

[2020-04-23 09:27] gauravgahlot commented on #70
@alexellis I tested the script for CentOS 7 and Ubuntu 18.04 on:
 - Server class: `c3.small.x86`
 - Region: Amsterdam, NL (AMS1)
 - ENV variables:
[code]
Executed the script with:
[code]
Added the same to the docs as well.
https://github.com/tinkerbell/tink/pull/62/files#diff-85ad37f4d4d62ce0f24ea8a26b95ba09R67

[2020-04-23 09:37] alexellis commented on #70
It doesn't appear to work with Ubuntu 18.04, could you confirm when you have time today?

[2020-04-23 09:38] alexellis commented on #70
I'm trying it now.

[2020-04-23 09:47] alexellis commented on #70
I can confirm that the script completed, but there is't a clear next action.

[code]

I see that the tink CLI's source code is downloaded under tink/cli/tink, but it's not built? Do you plan on downloading a release binary or building as part of the script so that users can make use of it after bootstrap?

A help message with what to do next would also be a good addition at the end of the script.

[2020-04-23 09:50] alexellis opened #73 "Provide release binary of tink CLI"
A statically-linked release binary should be made available of the tink CLI. Users shouldn't have to download go to build the CLI, or wonder where to get it from. I couldn't find docs explaining where to find it. There also are no release tags of tink, but there should be, even if the tag is 0.1.0

For an example, see how we do this with arkade or inlets

Build config for Travis/Make:

https://git

[2020-04-23 09:53] alexellis opened #74 "Cut release tags from tink"
Git enables releases to be made, these are shown in the GitHub Releases page.

<img width="1029" alt="Screenshot 2020-04-23 at 10 53 19" src="https://user-images.githubusercontent.com/6358735/80085802-a926ed80-8550-11ea-8199-720b2d5a0494.png">

Tink currently has none, however I would suggest that the project starts to use them, even if they are RC tags or very early alpha tags.

For instance:

0.

[2020-04-23 09:54] alexellis commented on #73
Ref: #74

[2020-04-23 09:54] alexellis commented on #73
No external tools like goreleaser are strictly needed. Go supports cross-compilation with a couple of flags. See the Makefile example above for instance.

At a minimum the CLI should have a Linux `x86_64` and MacOS option.

[2020-04-23 09:55] alexellis commented on #74
I would also add that you do not need to push Docker images or cut binaries for each release, although that would be a nice addition.

[2020-04-23 09:56] invidian commented on #73
There is also https://github.com/tinkerbell/boots/issues/4. Perhaps one solution should be picked for all binaries.

I personally like Goreleaser, as it automates building and uploading artifacts to GitHub, making GitHub releases really easy.

[2020-04-23 10:03] alexellis commented on #70
This error is also confusing / unactionable. What is the value when used with compose? It's not documented here -> https://github.com/tinkerbell/tink/blob/master/docs/first-good-workflow.md or here -> https://github.com/tinkerbell/tink/blob/master/docs/setup.md

[code]

[2020-04-23 10:04] alexellis commented on #68
It's since changed to this even more un-actionable error:

[code]

[2020-04-23 10:05] invidian commented on #70
I think you still need to use tink from `tink-cli` container. I was using alias for it `alias tink='PACKET_API_AUTH_TOKEN="" PACKET_API_URL="" docker-compose -f /root/deploy/docker-compose.yml exec tink-cli tink'`

[2020-04-23 10:11] alexellis commented on #68
This code in `init()` causes the error, and should not be run unless there is a verb supplied:

[code]

cc @gauravgahlot

[2020-04-23 10:40] #68 closed

[2020-04-23 10:48] gauravgahlot commented on #70
As soon as the PR #62 is merged, I will be sending another one with changes to [first-good-workflow](https://github.com/tinkerbell/tink/blob/master/docs/first-good-workflow.md). And accordingly will also add a "next" section at the script end.

[2020-04-23 14:29] #44 closed

[2020-04-23 14:29] #49 closed

[2020-04-24 12:11] invidian opened #79 "Provide Terraform provider for Tinkerbell"
It would be nice, if Tinkerbell could provider Terraform provider, similar to https://github.com/poseidon/terraform-provider-matchbox, so provisioning of the machines can be programmed using Terraform.

This will allow easy integration of Tinkerbell with projects like [Lokomotive](https://github.com/kinvolk/lokomotive).

[2020-04-24 12:53] gauravgahlot opened #80 "Fix existing e2e tests for workflow"
The existing e2e tests under https://github.com/tinkerbell/tink/tree/master/test are commented. It would be great to have them fixed and be executed during the CI.

[2020-04-24 13:58] mmlb opened #81 "Configurable top-level directories"
We should allow users to tailor where our directories / files get put down. Not necessarily too fine grained, I think supporting $PREFIX or something along those lines in setup.sh would be fine.

[2020-04-24 16:04] alexellis opened #83 "Tinkerbell vision & mission"
Hi everyone, I wanted to know a bit more about the vision & mission for Tinkerbell.

I've just started an awesome bare-metal repo which lists Tinkerbell alongside some classic projects and products. There's also some writing and analysis I'm planning on doing in a very short period of time.

Could you help me with some of these questions? I don't mind taking them over email.

## What's the USP vs

[2020-04-24 16:08] #38 closed

[2020-04-24 18:11] kdeng3849 opened #84 "Record root password created during the ubuntu install workflow"
At the moment, users are unable to log into the worker machine after having installed ubuntu via workflow. There needs to be a way to retrieve the login credentials after the workflow has finished.

[2020-04-27 12:39] Ottovsky commented on #24
I am very interested in this feature. I want to build out a home lab with rpi4 and configure k8s on top of it by leveraging tinkerbell workflows.

[2020-04-27 14:00] invidian commented on #79
I've implemented a PoC provider, which is available for building here: https://github.com/kinvolk/terraform-provider-tinkerbell.

[2020-04-28 13:44] Ottovsky opened #86 "tink-worker for arm64"
Hey there,

Currently there is no valid build of tink-worker for arm64, so any execution on for example raspberry pi is failing:
[code]
It would be nice, if you could have multi architecture images stored in your registry.

[2020-04-28 14:48] mrmrcoleman commented on #70
@alexellis Could you comment on the remaining delta between this request and what you now see at https://tinkerbell.org/setup please?

We believe @kdeng3849 and others may have closed the gap but want to be sure we haven't missed anything out.

[2020-04-28 14:52] alexellis commented on #70
@gauravgahlot #62 is merged now, did you have time to raise the PR you mentioned for the "next action" section at the end of the script?

[2020-04-28 14:54] alexellis commented on #49
@vishal-biyani what's the next step after running this script? What hardware would you see it being compatible on? And why would this be run instead of the terraform at: https://tinkerbell.org/setup ?

[2020-04-28 15:36] gauravgahlot commented on #70
@alexellis I had updated the `first-good-workflow` docs (PR #85). I have sent another PR #87 for updating the setup script and docs with "what's next".

@mrmrcoleman WRT [https://tinkerbell.org](https://tinkerbell.org) and the [issue](https://github.com/tinkerbell/tinkerbell.github.io/issues/2), I have done work. Since we could not take that up in the call today, I will be sending a few details on

[2020-04-29 10:01] mrmrcoleman commented on #70
Thanks @gauravgahlot I would check @jacobsmith928 's comment in Slack about that issue, as his team are already working on updating the website.

[2020-04-30 07:46] gauravgahlot commented on #60
Ref proposal [RFC #1 Merge Hardware and Target models](https://github.com/tinkerbell/tink/wiki/RFC-%231---Merge-Hardware-and-Target-models)

[2020-04-30 08:11] gauravgahlot commented on #51
Closing as #62 is merged.

[2020-04-30 08:11] #51 closed

[2020-04-30 11:05] gauravgahlot commented on #53
@deitch I'm hoping the new setup has filled the gaps now. However, please let me know if there is something that is still not clear. We close this issue otherwise.

[2020-04-30 13:23] alexellis commented on #70
Additional feedback given on https://github.com/tinkerbell/tinkerbell.github.io/issues/6

[2020-04-30 13:36] alexellis opened #89 "tink hardware push returns no useful data"
`tink hardware push` returns no useful data - surely we can output something like "Inserted..OK", or some other data for users? The exit code can be checked, but is confusing.

[code]

Also can stdin be used to pipe the file or not?

[code]

This is unclear, but should be a workflow, putting the string in via args is not UNIX-like.

cc @gauravgahlot

[2020-04-30 15:51] alexellis opened #90 "Insecure defaults from the setup instructions"
After following the [setup instructions](https://tinkerbell.org/setup), all services appear to be directly exposed on the Internet which is never a good idea, Kibana for instance has no authentication or TLS configured.

<img width="2123" alt="Screenshot 2020-04-30 at 16 48 38" src="https://user-images.githubusercontent.com/6358735/80731175-75286b00-8b02-11ea-9b64-eb0c42d2cffb.png">

Please consid

[2020-04-30 19:36] nathangoulding commented on #90
Agreed. Can we collect some suggestions / thoughts?

- The terraform script we provide for packet demo could set some basic iptables rules if it detects a public interface. It could also accept a flag or parameter to disable that default behavior.

- We add a warning for those running the setup script manually, with some sane defaults.

Thoughts?

[2020-05-01 13:36] alexellis commented on #90
Hi Nathan,

Glad that this resonates. My suggestions are in the original issue:

* 1) Use private Packet hosts only without any public IPs, with one Type0 added in which will act as a gateway running a reverse proxy Nginx would suit this task well and is easy to automate
* 2) Configuration as above, but with users accessing the hosts over ssh tunnels via a jump box, with nothing exposed publicly.

[2020-05-01 13:37] alexellis commented on #90
Example of inlets with HTTPS provided by Caddy, Caddy has an open usage license now can also decorate endpoints with basic auth as required for things like Kibana. https://blog.alexellis.io/https-inlets-local-endpoints/

[2020-05-01 14:51] alexellis opened #91 "Provide real-world example with Ubuntu LTS"
## As an end-user I want to provision a known OS such as Ubuntu LTS, 18.04.

This should be documented in the first steps instead of or as well as hello-world.

For each step in the task to install, there should be sources for the Dockerfiles so that these can be hacked on and adjusted.

I see this referenced in the documentation as an example of what could be done, but it's not in the examples fo

[2020-05-04 11:36] invidian commented on #79
How about creating `terraform-provider-tinkerbell` repository in https://github.com/tinkerbell organization and I push the code there? Usually in the projects, Terraform providers has separate repository, to track Terraform-specific issues etc.

[2020-05-04 14:23] invidian opened #93 "tink target create --help contains invalid invokation example"
[code]

It should be:
[code]

not:
[code]

[2020-05-04 14:25] invidian opened #94 "Add version subcommand"
With `tink` binary, it should be possible to check version of both CLI tool and ideally server, similar to `kubectl version` functionality, as currently, there is no way to reference which version of the binary is in use when reporting the issues.

[2020-05-06 19:04] invidian opened #97 "Creating targets based on ip_addr field does not work"
Additionally, it seems to be providing confusing error message:
[code]

[2020-05-06 19:10] invidian commented on #97
Oh, now I realized, that `ipv4_addr` works :smile:

[2020-05-06 20:35] #89 closed

[2020-05-06 20:51] sokoow opened #98 "action images are not available publicly yet ?"
I'm trying to pull your action images, but I keep getting this:

[code]

Are they public yet ?

[2020-05-06 20:59] sokoow opened #99 "Simplified stack version needed"
I'd love to run tinkerbell over the internet to help my small project (https://devpost.com/software/help-education-sector-to-produce-more-laptops-for-students), with significantly reduced stack components.

I've a vision to run a 3-4 fixed, catch-all MACs workflows. Here's how I see it:

- get rid of most of logic for TFTP/DHCP/BOOTP - so no boots, cacher, and hegel needed in my case
- keep osie's

[2020-05-07 09:25] parauliya commented on #98
Action images are not supposed to be public. We are hosting a `private docker registry` on `provisioner` machine on which action images will be pushed after creating those. When the workflow starts running, it will pull those images from the private registry and start that particulat action.

[2020-05-07 10:26] sokoow commented on #98
Yeah, but I still don't get it. So, in your docs you refer to doing something like this:

[code]

which is indeed pushing action images to my own private local registry, fine. But, where do I get these images from ? If I just can't do ```docker pull quay.io/tinkerbell/disk-partition:v3```, where are they coming from ?

[2020-05-07 10:59] gauravgahlot commented on #98
Hey @sokoow, can you please point me to the document?
It definitely needs to be corrected.
This is because the above images were part of a PoC and never made public. The document must have been updated in time. I'm really sorry for the confusion and trouble.

[2020-05-07 11:04] parauliya commented on #98
@sokoow  Just FYI , Action images are generated from the user and pushed to <private registry>. As @gauravgahlot mentioned docs are not updated because these images are generated by us for our PoC and never made public. Please provide the link of the document you are referring to.

[2020-05-07 12:58] sokoow commented on #98
it's referred here: https://tinkerbell.org/troubleshooting/

Also here you refer to a template that installs ubuntu with these steps: https://tinkerbell.org/concepts/

So, you are not planning to release a basic ubuntu installer ? Or you have to clean it up first ?  I don't see how community will potentially figure that part out without viable examples, and that might impact your project a bit neg

[2020-05-07 13:06] gauravgahlot commented on #98
Thank you @sokoow
There's a PR with documentation updates where I have [cleaned the troubleshooting page](https://github.com/tinkerbell/tinkerbell.org/pull/20/commits/951b679e22e129ef134bf793915336736a7c3c22).

The template in the concepts section is just an example to describe how a user can define their template and also leverage volumes, environment variables in a template.

I understand your c

[2020-05-07 13:07] sokoow commented on #98
awesome - this will change a lot on the open source provisioning market

[2020-05-07 13:11] gauravgahlot commented on #98
I really look forward to your feedback once things are more stable.
Can you please close the issue, unless there is something you would like to ask?
Thanks again @sokoow

[2020-05-07 13:12] sokoow commented on #98
cool, thanks

[2020-05-07 13:12] #98 closed

[2020-05-07 13:17] alexellis commented on #91
There's an example in the docs, which doesn't yet have sources to be used by an end-user, it looks a bit like this:

[code]

@gauravgahlot also shared what I understand is a slightly older, WIP example: https://github.com/tinkerbell/tink/tree/first-good-workflow/workflow-samples/ubuntu

Having reviewed the example, I saw some concepts embedded like Packet machine types and regions. I wonder if we

[2020-05-07 19:44] kewang-equinix commented on #91
I was tried to provision Ubuntu OS to BM server, and I have the same pain, hello-world doesn’t make too much sense, for the end user point of view they need provision a REAL OS on the server, and some example template for ubuntu doesn’t work either, because it's not available in public registry, it would be great we can public it, so end user only need follow the step by step guide to provision a

[2020-05-08 11:22] Ottovsky commented on #91
Totally agreed, the hello-world example is just a teaser and it does not bring much value, the example from `first-good-workflow` makes more sense, but it is hard to make it work without looking into source code and overwriting packet specific parameters with mock data. In the terms of an example workflow, I think the examples you listed are very good, it may be worth also to include steps for con

[2020-05-09 09:29] #60 closed

[2020-05-12 17:39] thomcrowe opened #103 "Tinkerbell Docs Updates"
- [ ] We need to include what the docs assume we have running already, namely Terraform and Docker

- [ ] Note what the `project id` is (hash after projects in the url) on this [page](https://tinkerbell.org/setup/packet/)

- [ ] Set an expectation on provisioning. It took nearly 6 minutes and we didn't know if everything was moving as expected. (Will be nice to write: “it takes average 5minutes”)

[2020-05-12 17:55] thomcrowe opened #104 "Unable to install vim on the provisioner."
We weren't able to install vim and had to run everything in vi. Other basic linux functions like `yum` weren't available.

[2020-05-12 17:58] thomcrowe opened #105 "Errors when spinning up the provisioner and worker"
When the datacenter didn’t have hosts for both provisioner and worker, it spent over 3 minutes creating the provisioner before failing; the worker wasn’t started. After it failed, the provisioner was still there until I ran terraform apply with the new datacenter details.

It would be great if we had a CLI command or endpoint we could query to find out about availability.

Mark couldn’t find any c

[2020-05-12 18:05] thomcrowe opened #106 "Provisioner stays active if the worker fails."
When the datacenter didn’t have hosts for both provisioner and worker, it spent over 3 minutes creating the provisioner before failing; the worker wasn’t started. After it failed, the provisioner was still there until I ran terraform apply with the new datacenter details. If the worker fails, it would be nice for the provisioner to shut down.

[2020-05-13 15:46] Ottovsky opened #108 "tink-cli should validate hardware data"
By mistake, I created a bad hardware data and `tink-cli` allowed me to push it into database. In my opinion, there should be a validation mechanism whether on the client or server side, preventing users from pushing wrong data. As a consequence of my mistake, I could observe `boots` panic and crash: https://github.com/tinkerbell/boots/issues/28 .

[2020-05-13 16:04] wangxin311 opened #109 "tink hardware doesn't have delete action"
tink hardware command doesn't have delete action compare to other tink commands, I know we can push empty json body to get the "delete" result, but it would be nice to have "delete" action.
[code]

[2020-05-13 16:30] wangxin311 opened #110 "Add documentation for passing cloud-init metadata"
For service provisioning, customer need pass cloud-init info to create user/get package, etc. tink should handle cloud-init via metadata, but it's not clear on how to pass cloud-init data to metadata server and retrieve it during boot up.

[2020-05-14 07:22] parauliya commented on #108
Hi @Ottovsky , Could you please elaborate a bit, what do you mean by bad hardware data, I mean what are the thing, that you pushed which caused `boots` panic and crash?

[2020-05-14 07:53] Ottovsky commented on #108
Hey,
Here is an example of hardware data, which I was able to push to the db and which caused boots to panic:
[code]

[2020-05-14 08:01] mrmrcoleman opened #111 "Mention Packet and Equinix in the Tink README"
As requested by @zsmith928 , let's mention Packet and Equinix on the Tink README somewhere.

[2020-05-14 08:01] parauliya opened #112 "Update docs with supported linux distros with automated setup script"
There should be a section on setup page where we need to add the following things:

1. Supported distros for which setup is automated and can be up by running the setup.sh script.
2. Add the Manual steps to prepare a provisioner for the distros which are not supported by the automated setup script.

[2020-05-14 08:02] mrmrcoleman commented on #111
Duplicate

[2020-05-14 08:02] #111 closed

[2020-05-14 08:08] Ottovsky opened #113 "setup script should open required ports in firewall"
Hey,

Currently the setup script assumes that all the required ports on the target hosts are open in firewall. It is not always a case, for example centos 7.6 comes with a default rule to drop all traffic which does not match firewall rules. It would be good to open the required ports: 67, 69, 443 during the script execution, so tinkerbell works out of the box.

[2020-05-14 08:41] invidian commented on #93
`target` subcommand is gone, so no longer relevant.

[2020-05-14 08:41] #93 closed

[2020-05-14 08:42] invidian commented on #97
`target` subcommand is now gone, so no longer relevant.

[2020-05-14 08:42] #97 closed

[2020-05-14 08:44] invidian commented on #58
Perhaps you should consider using https://github.com/golangci/golangci-lint, which provides more linters, allows to nicely configure them etc?

[2020-05-14 08:49] invidian opened #114 "Remove leftovers from merging hardware and targets"
There are still references to `Target` fields in the code, which should be removed/renamed after #88 got merged.

Example: https://github.com/tinkerbell/tink/blob/master/cli/tink/cmd/workflow/create.go#L45

[2020-05-14 09:03] parauliya commented on #114
Hi @invidian we knew these places and we are fixing it.

[2020-05-14 09:15] invidian opened #115 "Sanitize hardwares entry when creating a workflow"
it seems if one creates a workflow with hardware index containing `-`, it is not being picked up by the template properly. Example:
[code]

When `_` is used instead of `-`, everything is OK.

[2020-05-14 10:18] parauliya commented on #115
Hi @invidian , It is mentioned in the docs here [https://github.com/tinkerbell/tink/blob/master/docs/cli/workflow.md](https://github.com/tinkerbell/tink/blob/master/docs/cli/workflow.md) that the key can only container letter, numbers and underscores only.

[2020-05-14 11:24] iaguis opened #116 "Worker PXE-boots after workflow is done"
Currently, when a workflow is done and the user reboots, workers PXE-boot again to OSIE unless you manually set boot to disk. I tested this installing Flatcar on Packet following the [tinkerbell.org tutorial](https://tinkerbell.org/setup/).

It'd be great if there's a way to tell the worker to not PXE-boot after a workflow is done.

[2020-05-14 11:52] invidian commented on #115
Thanks for the hint @parauliya. In my opinion, this should be validated server-side, so the user gets right error message when such input is used. What do you think?

[2020-05-14 12:04] parauliya commented on #115
@invidian , This can be the solution but rather I would like to let the user know about this restriction so that user can provide the correct key with supported letters. I will add a Note in the website at the Template and Workflow section for now.

[2020-05-14 22:48] wangxin311 opened #118 "Provide clean up script to clean up the failed installation"
Currently, there is no clean_up.sh script to clean up the environment in case of the setup.sh is failed, if the last setup.sh is failed for some reason, we can not run the setup.sh again if some configuration already there like interface configuration, we have to manually clean it up before restart setup.sh again. It would be nice to provide a clean_up.sh script to clean up the environment for rei

[2020-05-15 08:05] gauravgahlot commented on #115
Closing this issue, as the relevant docs have been updated in [PR #48](https://github.com/tinkerbell/tinkerbell.org/pull/48)

[2020-05-15 08:05] #115 closed

[2020-05-15 08:53] mrmrcoleman commented on #55
@mmlb Did we decide to keep GitLFS?

[2020-05-15 09:56] #66 closed

[2020-05-15 13:47] mmlb commented on #55
They are used at run time, these are the iPXE files we serve up to the nics for pxe-boot.

The .go file is in normal version control. It's just generated from other source controlled files (the git-lfs'd ipxe files) instead of an engineer's head ;). This is done to main go-get ability and reproducible builds.

[2020-05-15 13:48] mmlb commented on #55
Yes we want to keep git-lfs. Without it the git repo will bloat the full binary file size for any change in the binaries; version updates, rebuilds, config updates, ...

[2020-05-15 14:44] deitch commented on #55
Hey @mmlb I don’t think anyone was suggesting that we put the large files in git directly. But requiring git and gitlfs for runtime (not just buildtime) will restrict tinkerbell only to developers, keeping out the broader circle of operators. We are comfortable with git and lfs, but do we want to restrict our target audience? What tools are they using to distribute large binaries?

[2020-05-15 14:50] nathangoulding commented on #55
They are used at runtime, not fetched at runtime. If you set up the provisioner you can see how it works.

[2020-05-15 14:59] deitch commented on #55
Good point. I should have been a bit clearer.

It still requires them to use git to set it up. I agree, operators _are_ getting better at git and dev-style tools, but it still isn't the world they run in.

[2020-05-15 15:30] mmlb commented on #55
I'm not sure I see the issue here. Git and Git LFS only come into play if some one is trying to build boots. Having git and git-lfs installed for that seems fine? Operators will use the container images right?

[2020-05-15 15:36] deitch commented on #55
That was what I didn't get. If I just want to install and run it - not as a developer trying to change it, but as someone who just wants to follow a README and start it so I can manage some metal - do I need git or not? I had thought I did. If not, the questions go away.

[2020-05-15 15:48] mmlb commented on #55
Ah nope, its just for building of boots. Using it should be directly from the container image.

[2020-05-15 15:51] deitch commented on #55
Cool, thanks. I haven't had a chance to do a fresh run in a few weeks. I will give it another run next week, and if all is clear, will close this out.

[2020-05-15 15:52] mmlb commented on #55
:+1:

[2020-05-15 18:03] mrmrcoleman commented on #55
Can this issue be closed @deitch ?

[2020-05-17 09:51] deitch commented on #55
I have no idea. I tried following the "deploy on Packet" instructions, and ended up giving up long before I was able to see how the artifacts are downloaded. Once you switch the network type, you get locked out after reboot, and no IP for the iPXE. I wasn't quite ready to dig into code and figure it out.

If it is important to close it, go ahead.

[2020-05-18 01:15] rafiqkattangere opened #119 "where can I find sample action-images?"
I see you guys refer to some action-images in your samples. Sounds like there might be some place where I can see how to write one?

[2020-05-18 09:50] alexellis commented on #91
I believe this link is from @kewang-equinix (from community Slack):

https://github.com/wangxin311/tink-workflow

I think I saw another repo floating around, I'll capture it here if I find it again in Slack.

[2020-05-18 10:57] alexellis commented on #119
Hi @rafiqkattangere, would you say that this is a duplicate of #91?

[2020-05-18 10:59] alexellis commented on #116
👍 - at the least, it would make a good addition to the notes to describe how the system currently works. I think it might be a confusing experience for new users otherwise.

Short-term: note in docs?
Medium-term: CLI example for Packet's IPMI interface to change boot order?
Longer-term: feature?

[2020-05-18 12:04] alexellis commented on #113
Is this related to #90?

[2020-05-18 12:07] alexellis commented on #73
In my opinion a Makefile would suffice, goreleaser is a popular, but complex tool.

Bumping this up. @parauliya @gauravgahlot is there an update on this? For instance, after running the setup script, it would be ideal to be able to run "tink" without exec'ing into a container.

[2020-05-18 12:40] alexellis opened #120 "The terms in the hello-world docs need to be explained better"
[When reading the hello-world docs](
https://github.com/tinkerbell/tink/blob/master/docs/hello-world.md) (a link is shown from setup.sh at the end) - there are a few confusing references that could be explained better for new users.

## 1) Unexplained literal value in example

`$ tink workflow create -t <template-uuid> -r ‘{“device_1”:“mac/IP”}’` <- is that the literal value, or does this need ela

[2020-05-18 13:21] Ottovsky commented on #113
I am not entirely sure about this, my use case was focused on the on-premise environment without direct exposure to the internet.

[2020-05-18 19:09] mmlb commented on #55
@mrmrcoleman I think we can close this out. I think this issue is too open ended. We use git-lfs in 2 ways:
1. In source code repos, so only pertinent for developers wanting to build the individual services
2. In our packet-images repo to deliver images. OSIE does *not* require git-lfs images though and would be just fine loading a normal git repo.

@deitch you brought up OCI image repositories wh

[2020-05-18 19:10] #55 closed

[2020-05-18 19:12] mrmrcoleman commented on #55
Thanks @mmlb

[2020-05-19 08:25] alexellis opened #121 "tink template create should also accept STDIN"
tink template create should also accept STDIN to match the change made to the workflow command

Rather than `tink template create --name ubuntu_provisioning --path /tmp/tmp`

`cat /tmp/tmp | tink template create --name ubuntu_provisioning`

or

`cat | tink template create --name ubuntu_provisioning` followed by control+v

This is especially useful when having to run the tink CLI in a container, si

[2020-05-19 08:25] alexellis commented on #121
@gauravgahlot @parauliya PTAL?

[2020-05-20 07:11] gauravgahlot commented on #121
@alexellis Yeah, I agree. All commands expecting files should support both: a flag and `stdin`.

[2020-05-20 14:25] mrmrcoleman commented on #90
First step is to add a warning on the website explaining that this is an insecure example while we're investigating an actual fix.

[2020-05-20 15:54] #53 closed

[2020-05-21 01:04] yetang-equinix opened #125 "worker machine can only pick up worker_id on the top (1st created)"
When i have multiple hardware pushed.
##### on provisioner: ####################
/tmp # tink hardware all
{"id": "936d419d-1dc5-4dcd-a938-15ef8bf6970f", ....................{"mac": "50:6b:4b:b7:14:36"}}
{"id": "daea02ec-24b9-4e7a-834b-a306bc4ea49f",................... {"mac": "98:03:9b:89:cf:2e"}}
{"id": .............................}

######### on worker machine: ################
and when worker

[2020-05-21 10:29] parauliya commented on #104
@thomcrowe , As I am not quite getting the issue, Could you please explain what you tried and at which steps you faced this issue?

[2020-05-21 10:31] mrmrcoleman commented on #104
I think this is a T-Bell issue @gauravgahlot . The Packet Ubuntu machine didn't have Vim and apt-get didn't work for some reason.

I'll let @thomcrowe confirm.

[2020-05-21 10:35] parauliya commented on #105
@thomcrowe , I think these are generally happen a few times when Packet provider failed to create devices or failed to convert a device in Layer2. So this issue is somewhat related to Packet internals while creating a machine.
@mrmrcoleman , Could you please suggest a right person to asssign this issue from the Packet team?

[2020-05-21 10:47] parauliya commented on #106
@thomcrowe , I don't agree with your point of failing provisioner if the worker fails since, provisioner is the one who is responsible of creating workflows for different workers. In case of multiple workers there can be multiple worklfows for different workers. Therefore if one worker fails we can't fail provisioner because it has workflows for other workers which still needs to be run.

Please l

[2020-05-21 10:52] gauravgahlot commented on #104
@mrmrcoleman I'm not quite sure. I set up a provisioner a few minutes ago and could install `vim` with `apt-get` without a problem. So, we could really use some details from @thomcrowe.

[2020-05-21 10:57] gauravgahlot commented on #65
Hey @Ottovsky :wave:

Since #60 has been merged and the required docs have also been updated, could you please see if the issue is resolved?

[2020-05-22 07:56] Ottovsky commented on #65
Yes, it looks like it resolves it.

[2020-05-22 07:56] #65 closed

[2020-05-22 13:47] gauravgahlot commented on #43
Closing as PR #96 is merged.

[2020-05-22 13:47] #43 closed

[2020-05-22 13:50] gauravgahlot commented on #70
@alexellis Since we have other issues that describe current challenges with the setup, can we close this one now?

[2020-05-22 13:56] #70 closed

[2020-05-22 13:56] alexellis commented on #70
This is covered now. At the moment setup.sh and the terraform both work and cover this.

[2020-05-22 14:21] grahamc commented on #106
Is this when using the terraform-based quick start? In that case, I think it would be reasonable to set the expectation that users are familiar with Terraform ahead of time. Given that expectation, it is reasonable that a user would understand they needed to destroy the provisioner.

I can imagine a case where a provision fails for an unrelated reason. If that unrelated reason is retryable, tearin

[2020-05-22 14:21] #106 closed

[2020-05-22 14:23] grahamc commented on #104
Hey @thomcrowe, it looks ilke you were expecting the host to be centos or another redhat derivative. In this case, though, the machine is ubuntu and uses `apt` / `apt-get` for installing packages.

[2020-05-22 14:23] #104 closed

[2020-05-22 15:05] mrmrcoleman commented on #104
@grahamc This is probably my fault. I meant to say yum, not apt-get.

We couldn't find any package manager on the machine.

[2020-05-22 15:07] grahamc commented on #104
At any rate, I wonder if you can reproduce it today? If so, it might be useful to get on a call and do a show-and-tell of the problem.

[2020-05-22 15:08] mrmrcoleman commented on #104
Agreed. @thomcrowe Can you see if you can reproduce?

[2020-05-22 15:30] thomcrowe commented on #104
Let me give it a try this afternoon.

On Fri, May 22, 2020 at 10:08 AM Mark Robert Coleman <
notifications@github.com> wrote:

[2020-05-22 15:31] thomcrowe commented on #106
Makes sense.

Thanks y'all!

On Fri, May 22, 2020 at 9:21 AM Graham Christensen <notifications@github.com>
wrote:

[2020-05-22 18:11] rgl opened #129 "setup.sh: configure the network using netplan in Ubuntu 18.04+"
[setup.sh](https://github.com/tinkerbell/tink/blob/527cd4267ae6c0393e8dd725834eca30aaed367d/setup.sh) assumes that all Ubuntu versions use the `/etc/network/interfaces` file to configure the network interfaces, but since Ubuntu 18.04 they no longer use that file neither the ifup/ifdown commands to manage the network interfaces; as such, the following code should be modified to support netplan:

ht

[2020-05-22 18:17] rgl opened #130 "setup.sh: only use tput if connected to a terminal"
I'm trying to play with Tinkerbell in a [vagrant environment](https://github.com/rgl/rpi-tinkerbell-vagrant), for that I'm using `setup.sh` to bootstrap the environment, and for doing that, we cannot use `tput` (it will fail because the command is not executed in a terminal) in:

https://github.com/tinkerbell/tink/blob/527cd4267ae6c0393e8dd725834eca30aaed367d/setup.sh#L13-L21

Can I submit a PR fo

[2020-05-22 18:43] rgl commented on #129
BTW, as a workaround, if we pre-configure the interface with the main ip address and the nginx ip address, we can install without problem.

[2020-05-23 16:34] rgl opened #131 "think-cli: add support for machine readable output"
To be able to use the cli interface from another application the `think` application should return a machine readable document stream; e.g. json/tsv/csv.

Having a machine readable output means that I would not have to try to interpret, e.g.:

[code]

[2020-05-23 16:38] rgl commented on #121
As a workaround, in Linux/bash at least, you can use `/dev/stdin`. e.g.:

[code]

[2020-05-23 16:44] rgl opened #132 "think template (or workflow) get <id> does not return anything"
After adding a template with:

[code]

Listing the existing templates:

[code]
[code]

Then, getting the template back:

[code]

Returns nothing (well, it actually returns an empty line).

And the exit code is `0` (no error).

The same problem exists with the `tink workflow get` command.

[2020-05-23 18:53] rgl commented on #132
Oh sorry for the noise... I was tricked by `/dev/stdin`.

This now works:

[code]

[2020-05-23 18:53] #132 closed

[2020-05-25 07:54] parauliya commented on #125
@yetang-equinix , Could you please look at the output of command `tink workflow list` and check if there is any workflow for the current mac address?
Also please post the output here in the bug so that I can also have a look.

[2020-05-25 08:04] gauravgahlot commented on #129
@rgl A PR is always welcome. :100:

[2020-05-26 04:05] #58 closed

[2020-05-26 04:13] gauravgahlot commented on #120
@alexellis I believe this can be closed now. Could you please verify?

[2020-05-26 04:51] yetang-equinix commented on #125
I don't have the setup anymore. i did have workflow created for both MACs.

[2020-05-26 05:15] gauravgahlot commented on #132
@rgl This is implicitly taken care in #133

[2020-05-26 07:35] rgl opened #134 "Document how to run Tinkerbell in production"
Can you please provide guidance on how to securely run a tinkbell installation?

For example:

* Should all machines have a dedicated NIC for DHCP? VLAN?
* Should all machines be configured to Secure Boot?
  * Well, I don't secure boot described anywhere, so I guess this is not yet supported.
  * Should all machines be configured to secure boot from an https .ipxe endpoint?
* Should a TPM be requi

[2020-05-26 13:18] parauliya commented on #125
@yetang-equinix , Have you tried after that with multiple hardware anymore?

[2020-05-26 13:26] grahamc opened #136 "Action Images are very tightly tied to OSIE"
Tink starts by booting OSIE, OSIE runs the workflow engine, the workflow engine runs some Action Images via docker containers, and hopefully at the last step in the workflow the system boots in to the freshly installed OS.

These Action Images, though, are limited by what OSIE can do. In fact, this binding is quite tight and probably by mistake.

Some examples of this:

* BSDs can't really do a "n

[2020-05-26 14:09] alexellis commented on #120
Which PRs fixed this? Can you link me to them so that I can verify it?

[2020-05-26 14:18] grahamc opened #138 "Action Images Don't Compose Well (M*N -> M+N)"
Action Images have a potential to simplify the provisioning process for distributions by creating clear "checkpoints" between phases. However, they don't do that yet.

You can see the intent to compose trying to escape in the various workflows people have made:

[code]

[code]

I thought it would be interested to look at the `disk-wipe` vs. `wipe-disk` phases, and you can see somebody has learned

[2020-05-26 15:14] grahamc opened #139 "Who is the user, and how do we design for them?"
Last week I did an initial review of the Tinkerbell documentation. My experience had a few themes that seemed to repeat throughout. One of the strongest bits of feedback is the documentation _and project_ needs to have a clear idea of:

* who is the project for
* what is their experience level
* what are they trying to do

Then, the documentation and tools can be built with this in mind. Tools can

[2020-05-26 16:04] gianarb commented on #139
Yep, I think the point I see the software being right now is: "it works if you know how to use it".
The next phase is: "let's make it usable by other people"

I think some issues are related to this topic:

* #73 as far as I like docker container, the idea to use them as a proxy to run a command line is unfriendly and it adds overhead on something that I am learning right now
* #92 I do not feel t

[2020-05-27 08:14] #114 closed

[2020-05-27 11:33] gauravgahlot commented on #120
Related PRs:
 - https://github.com/tinkerbell/tink/pull/123
 - https://github.com/tinkerbell/tinkerbell.org/pull/48
 - https://github.com/tinkerbell/tinkerbell.org/pull/63
 - https://github.com/tinkerbell/tinkerbell.org/pull/44

[2020-05-27 14:14] mrmrcoleman commented on #105
Two issues:

1. Cannot find c1.small.x86 even though it is available through the API <-- Are these still listed through the capacity end point?
2. Users should be able to find out which machines support Layer 2 before trying to provision. <-- Can we find this our from an API call if not via the website?
3. Update the Tinkerbell setup guide to explain this.
4. When selected All generations of All m

[2020-05-27 14:28] gianarb commented on #105
@mrmrcoleman  the image is listed in the available one from the packet-api:

[code]

The capacity call does not return them:

[code]

[2020-05-28 09:34] mrmrcoleman commented on #105
The list of non-Layer 2 enable machines is listed here: https://www.packet.com/developers/docs/network/advanced/layer-2/

[2020-05-28 09:37] parauliya commented on #125
@yetang-equinix
I tried the same thing at my end as follows:
1. Pushing two hardware data
2. Creating two workflow one for each hardware
3. Reboot both hardware machines one by one.

Results:
Both the workflows completed successfully.

Following is the output of respective command:
1. Command : `tink workflow list`
[code]
2. Command : `tink workflow state 06fb4d2e-7ba4-4dcd-b813-cad7a5db197d`
[cod

[2020-05-28 09:37] #125 closed

[2020-05-28 11:07] alexellis commented on #138
Reminds me of what I wanted to see from: #91

[2020-05-28 11:18] gianarb commented on #105
So, in order to stay provider agnostic where should we place this information to? In the Getting Started we mention Packet, probably we can leave the link there, it looks like one of the things that users should know but that is not obvious at all and sad when it happens because you don't know how to solve it

[2020-05-28 13:13] parauliya commented on #120
@alexellis , The links are provided by @gauravgahlot fixed the same. You can go through them.
But most importantly, the link which was provided at the end of `setup.sh` has changed now. So you should go to the new link for the Hello world example (https://tinkerbell.org/examples/hello-world/) and see if everything is explained there are well descripted.

[2020-05-29 14:14] mrmrcoleman commented on #24
Relevant repo from Container Solutions: https://github.com/ContainerSolutions/tinkerbell-rpi4-workflow

[2020-05-29 14:24] mrmrcoleman commented on #86
Hey @Ottovsky I believe you did some work to get Tink working for arm64 already? If so could you share your work here please?

[2020-05-29 15:08] Ottovsky commented on #86
Hey,

I actually just compiled it for the `armv7` and build docker image using the existing Dockerfile:
[code]
It would be nice to do tink-worker releases for different cpu architecture.

[2020-05-29 15:11] Ottovsky commented on #24
We do also have an example with the mentioned rpi4-uefi, which does not require the workarounds with nfs:  https://github.com/ContainerSolutions/tinkerbell-rpi4-workflow/tree/rpi4-tinkerbell-uefi

[2020-06-01 02:57] iyamagata opened #142 "How to deploy a Windows server using PXE on the Worker VM."
I want to deploy a Windows server using PXE on the Worker VM.
Please let me know how to push a Windows image to the Provisioner.

[2020-06-02 15:21] grahamc opened #145 "Let's adopt Bors to merge PRs"
The "require being up to date with master before merging" restriction is a good idea, but makes it really tricky to merge PRs. We could get this same benefit but with automation and without the race to merge a PR by using  bors:  https://bors.tech/

All we have to do is click enable here: https://github.com/apps/bors and read https://bors.tech/documentation/getting-started/

I propose adding this

[2020-06-02 17:13] dustinmiller1337 commented on #145
This looks cool :+1:

[2020-06-03 14:13] gauravgahlot commented on #109
@parauliya Please link the RFC in the discussion.

[2020-06-03 14:55] gauravgahlot opened #146 "Setup v2.0"
[code]

[2020-06-03 18:31] grahamc commented on #146
WIP PR at #147

[2020-06-04 12:09] parauliya commented on #109
Following is the link of RFC for this issue:
https://github.com/tinkerbell/tink/wiki/RFC-%234--Adding-the-functionlity-of-deleteing-the-hardware

[2020-06-04 13:07] gauravgahlot commented on #145
@grahamc Can we also look at [Mergify](https://mergify.io/) as an alternative to Bors?
It uses a configuration file ([like this one](https://github.com/infracloudio/botkube/blob/develop/.mergify.yml)) and allows us to have customization that best suits our needs.

[2020-06-04 13:09] alexellis commented on #146
@gauravgahlot thanks for the ping on Slack

I'd like to see the download verified by SHA before unpacking.

There should be a way to bring the compose back up without having to run setup.sh ideally, right now it depends on ENV-vars captured during setup.sh - so could they be written into an env file?

Why is ifupdown used if Netplan is now the standard on Ubuntu and similar systems? Would it make

[2020-06-04 13:47] grahamc commented on #145
Absolutely. Any chance you could have a merging config file PR for Standup today?

On Thu, Jun 4, 2020, at 9:08 AM, Gaurav Gahlot wrote:

[2020-06-04 13:49] grahamc commented on #145
Mergify* of course. Autocorrect is a bear.

On Thu, Jun 4, 2020, at 9:47 AM, Graham Christensen wrote:

[2020-06-04 13:54] gauravgahlot commented on #145
Done. #148

[2020-06-04 15:15] parauliya opened #150 "Modify few `tink hardware` cli"
Therea are following cli/api which needs to be changed as discussed in the [RFC #4]( https://github.com/tinkerbell/tink/wiki/RFC-%234--Adding-the-functionlity-of-deleteing-the-hardware):

`tink hardware mac <MAC address>`
`tink hardware ip <IP address>`

Rename the cli `tink hardware all` to `tink hardware list` and it's behaviour.

Please look at the RFC mentioned above for more details.

[2020-06-04 16:13] mrmrcoleman opened #335 "Run Tinkerbell on k8s"

[2020-06-04 21:11] mrmrcoleman commented on #52
Valid question in April but not anymore.

[2020-06-04 21:11] #52 closed

[2020-06-04 21:12] #145 closed

[2020-06-05 07:09] alexellis commented on #52
👍
To put it another way for the paper trail, there is a compose file now which is the only viable way to run it at the moment.

[2020-06-06 09:42] rgl opened #161 "The provisioner does not work after reboot"
After I reboot the provisioner machine it no longer works.

Before the reboot, these are the containers running (as displayed by `docker ps`):

[code]

But after reboot, only these are running:

[code]

For reference, here's how all their state is right now:

[code]

To get things working again I have to manually start the non-running ones with:

[code]

[2020-06-06 10:08] rgl opened #162 "Provide a way to snoop the TLS connections with WireShark"
To better troubleshot/debug the entire tinkerbell ecosystem we need a way to snoop the TLS connections (e.g. using the `SSLKEYLOGFILE` environment variable as in [this go example](https://github.com/rgl/tls-dump-clienthello/blob/c12eb9370c74d0b3ff3618604ef06957feb2e3fc/main.go#L290-L300)) or a way to disable TLS.

The WireShark configuration is described at their [Using the (Pre)-Master-Secret](ht

[2020-06-06 11:53] rgl opened #163 "Why are the examples using the /statedir volume bind?"
The examples (e.g. [Concepts template](https://github.com/tinkerbell/tink/blob/31888f40fd17f438ce828fcd44a6059cec4a8bd5/docs/concepts.md#template)) are using the `/statedir` but why use that volume when the [tinker-worker is automatically mounting `/workflow`](https://github.com/tinkerbell/tink/blob/7b55e2d62ee98670e04eb2f7e70c8ff4d60e3368/cmd/tink-worker/action.go#L185)?

[2020-06-08 09:18] invidian opened #164 "'tink-cli workflow --help' does not work without running Tinkerbell"
Build from latest master (ee03be74b70f4c2c8bfc472b8b1393d442d4356b):
[code]

As a user, I would like to be able to see available sub-commands without having access to Tinkerbell.

[2020-06-08 11:04] #56 closed

[2020-06-08 11:49] alexellis commented on #56
👍

[2020-06-08 13:14] gauravgahlot opened #166 "Add support to setup tinkerbell stack locally using Vagrant"
Initial Vagrant providers to be supported:
 - [ ] libvirt
 - [ ] virtualbox

[2020-06-11 08:13] #109 closed

[2020-06-11 08:28] gauravgahlot opened #169 "Smoke or E2E tests"
The idea is to have smoke or E2E tests that:
 - setup a provisioner and a worker with Vagrant
 - execute a workflow
 - be part of the CI pipeline

Initial tests may cover the following workflows:
 - hello-world
   - services covered - tink, boots, osie
 - install Alpine Linux on worker
   - services covered - tink, boots, osie, hegel, cacher

[2020-06-11 08:30] gauravgahlot commented on #169
@mrmrcoleman @grahamc
Please update the description if I've missed anything from our discussion.

[2020-06-11 08:58] mrmrcoleman commented on #169
Hey @gauravgahlot it would also be good to consider which events should trigger the CI. The end to end covers all (?) of the services, so does it run whenever any of the repos change?

[2020-06-16 14:19] #129 closed

[2020-06-16 14:24] #130 closed

[2020-06-16 20:15] rgl opened #171 "why does setup.sh uses parentheses to declare function bodies?"
It using parentheses to declare the function body (`name() ( ... )`) instead of using curly braces (`name() { ... }`), e.g., at:

https://github.com/tinkerbell/tink/blob/6c66328523c3df28a1625d549ee98d17d668d4f9/setup.sh#L15-L17

Why is that?

[2020-06-16 20:19] rgl opened #172 "Why is git a pre-requirement in setup.sh?"
Why is git a [pre-requirement in setup.sh](https://github.com/tinkerbell/tink/blob/6c66328523c3df28a1625d549ee98d17d668d4f9/setup.sh#L445)?

[2020-06-16 21:04] rgl commented on #172
Oh we now need to git clone the tink repo? The setup.sh no longer is downloaded from the internet has described at https://github.com/tinkerbell/tink/blob/master/docs/setup.md?

[2020-06-16 21:13] mrmrcoleman commented on #172
The setup experience is being changed and the docs will follow shortly
afterwards.

On Tue, 16 Jun 2020 at 22:04, Rui Lopes <notifications@github.com> wrote:

--

Mark Coleman
+44(0)7367462394

[2020-06-16 22:26] rgl commented on #172
Got it working at https://github.com/rgl/rpi-tinkerbell-vagrant/tree/wip-upgrade-tinkerbell. Some other day I will have test whether the rpi provisioning still works.

I have to say that the installation is now simpler to understand as the dependencies are explicit (curl, git, docker, docker-compose) and to start tinkerbell we can just use docker-compose up --detach. Nicely done!

And hurrah to be

[2020-06-17 08:15] mrmrcoleman commented on #172
I'm glad you find the new installation simpler to understand that was the idea.

@grahamc May be able to address your certs concern.

[2020-06-17 12:44] grahamc commented on #172
Git as a requirement: good catch. It isn't needed anymore. I dropped it in https://github.com/tinkerbell/tink/pull/173

Certs directory: I hit this yesterday and forgot to open a PR. I fix it in https://github.com/tinkerbell/tink/pull/174

I'm glad the `docker logs` option is good for you! Hopefully it saves a lot of time for everybody. Also, the updated docs are indeed coming.

[2020-06-17 12:44] #172 closed

[2020-06-17 12:50] grahamc commented on #171
With {}, it is as if the functions did not exist, and all the code was copy/pasted in to the order it ran. With (), the functions get individual scopes. To demonstrate:

[code]

When running `bar`, the current directory is still `/`, and `set -eux` is still configured, and `example` equals `hello`:

[code]

Using `()`s, the local changes are not leaked:

[code]

produces

[code]

[2020-06-17 12:50] #171 closed

[2020-06-17 13:07] rgl commented on #171
I never thought that using a subshell as a function body worked. This is so strange! But now I know. Thx!

[2020-06-17 13:10] grahamc commented on #171
Yep! Gladly! To me it feels like taking bash from "meh" to "less meh" :)

[2020-06-17 13:43] parauliya opened #176 "Not able to retrive ephemeral data from database, updated by actions of a workflow"
There is a way through which actions on a particular worker communicates to each other by  mounting a file in a common directory and then read/write data into it whenever required. Whenever the data of the file is updated by a particular action, the data of this file saved to database with a particular version to maintain the history that which action had changed the data.
This data is called as e

[2020-06-17 13:55] parauliya commented on #176
Not an issue.

[2020-06-17 13:55] #176 closed

[2020-06-17 20:24] #166 closed

[2020-06-18 14:16] mrmrcoleman commented on #84
Aman reports that this have been solved by Gaurav.

[2020-06-18 14:16] #84 closed

[2020-06-21 12:28] fransvanberckel opened #179 "./setup.sh registry:2 htpasswd: not found"
While clone today's git repo I have got this error ...

-- Step 6/7 : RUN htpasswd -Bbn ${REGISTRY_USERNAME} ${REGISTRY_PASSWORD} > /auth/htpasswd
 ---> Running in 44f85abb48dc
Service 'registry' failed to build: The command '/bin/sh -c htpasswd -Bbn ${REGISTRY_USERNAME} ${REGISTRY_PASSWORD} > /auth/htpasswd' returned a non-zero code: 127

-- Details:
Building registry
Step 1/7 : FROM registry:2
2

[2020-06-21 12:38] mrmrcoleman commented on #179
@fransvanberckel We're aware of this issue and the fix is awaiting approval here: https://github.com/tinkerbell/tink/pull/178

It seems that `apache2-utils` was removed from the upstream registry imagine in 2.7. Pinning the registry version to 2.6.2 in `./deploy/registry/Dockerfile` fixes the issue.

[2020-06-21 12:45] fransvanberckel commented on #179
Patched the Dockerfile, it's running ./setup.sh again ... ;-)
Thanks for supporting.

[2020-06-21 12:45] #179 closed

[2020-06-21 12:52] fransvanberckel opened #180 "./setup.sh Cannot autolaunch D-Bus without X11 $DISPLAY"
While ./setup.sh I have got this error.

-- Creating deploy_registry_1 ... done
-- Error saving credentials: error storing credentials - err: exit status 1, out: `Cannot autolaunch D-Bus without X11 $DISPLAY`

Bare metal server, installed today with Ubuntu 18.04, minimal netinst.iso.
Q: Is running setup over ssh the problem?

[2020-06-21 13:37] fransvanberckel commented on #146
Beware, today it's all about Kubernetes. And about Ansible. Okay lets us face a minimal one, k3os. So you can skip the whole network part.

- https://k3os.io/

[2020-06-22 11:31] alexellis opened #181 "Vagrant: Worker needs more RAM to pull images"
When using Vagrant, the worker needs more RAM than 500MB since it uses a tmpfs / Ramdisk to pull images, we saw this fail for https://github.com/alexellis/tink-workflow which has workflow actions of around 429mb.

I would suggest 4GB would be a sensible default

The primary hard disk could also be too small - I would suggest using the Ubuntu base image for the worker, so that it has at least 32GB.

[2020-06-22 12:00] alexellis opened #182 "Vagrant: don't try to shell into worker"
Vagrant: it would be better if we didn't try to shell into worker to avoid confusion / spam.

<img width="727" alt="Screenshot 2020-06-22 at 12 50 21" src="https://user-images.githubusercontent.com/6358735/85284351-f2c78200-b486-11ea-87c5-3875d63ba86e.png">

[2020-06-22 12:08] alexellis opened #183 "Vagrant: setup script gives wrong location for setup process"
When using Vagrant, the final step gives the wrong location for setup process as being `./deploy`, however it is`/vagrant/deploy/` where one must navigate to and run the setup process.

[2020-06-22 13:48] fransvanberckel commented on #180
It's about login, while using docker-compose from the Ubuntu repos ...

echo -n "$TINKERBELL_REGISTRY_PASSWORD" | docker login -u="$TINKERBELL_REGISTRY_USERNAME" --password-stdin "$TINKERBELL_HOST_IP"

Error saving credentials: error storing credentials - err: exit status 1, out: `Cannot autolaunch D-Bus without X11 $DISPLAY`

- https://github.com/docker/compose/issues/6023

-- Since this is a bug

[2020-06-22 13:48] #180 closed

[2020-06-23 07:01] #183 closed

[2020-06-23 08:38] fransvanberckel opened #187 "Vagrant: tink hardware push rpc error: code = Unavailable"
While today's setup by Vagrant example, have got this error ...

- https://tinkerbell.org/setup/local-with-vagrant/

-- Now we define our hello world template and load it into Tinkerbell:
vagrant@provisioner:/vagrant/deploy$ docker exec -i deploy_tink-cli_1 tink template create --name hello-world < ./hello-world.yml

Created Template:  4b7b9b74-a859-4d5f-a5b8-003858b3c9d4

-- Next we register the

[2020-06-23 14:20] #59 closed

[2020-06-23 14:28] alexellis commented on #181
@mrmrcoleman @grahamc this is urgent for a successful webinar, but I think we should use Packet due to the issues faced when Vagrant crashed my Mac and rebooted it. After coming up again, Tinkerbell was left in an unrecoverable state.

<img width="2202" alt="Screenshot 2020-06-23 at 15 24 09" src="https://user-images.githubusercontent.com/6358735/85416264-288f6800-b566-11ea-9d54-6875e38c560b.png">

[2020-06-23 14:39] mrmrcoleman commented on #181
@alexellis Working on this now.

[2020-06-23 17:32] mrmrcoleman commented on #181
https://github.com/tinkerbell/tink/pull/188 feedback please.

[2020-06-23 22:15] mrmrcoleman commented on #187
Hoi @fransvanberckel this is caused by a breaking change to our hardware data model. My apologies for the inconvenience.

I've created a PR for the docs with an updated `hardware-data.json` example here: https://github.com/tinkerbell/tinkerbell.org/pull/86

[2020-06-24 03:43] fransvanberckel commented on #187
Hi @mrmrcoleman,

Thanks, are willing to create a PR for the hello world example as well?

- https://github.com/tinkerbell/tink/blob/master/docs/hello-world.md

[2020-06-24 06:49] fransvanberckel opened #189 "Create a Ansible playbook for deploy"
If we create a Ansible playbook for deploying Tink, what should be reflected?

[2020-06-24 14:21] kdeng3849 commented on #91
After the data model update, the way to retrieve metadata from the hardware data has also changed. A suggested patch from Xin Wang is as follows:

[code]

[2020-06-25 06:59] Cbkhare opened #192 "Prostgres container should have a persistent volume"
Postgres container looses its data when it is killed and restarted.

**Before**:

`/vagrant/deploy$ docker exec -i deploy_tink-cli_1 tink template list

+--------------------------------------+---------------+-------------------------------+-------------------------------+
| TEMPLATE ID                          | TEMPLATE NAME | CREATED AT                    | UPDATED AT                    |
+----

[2020-06-25 08:18] Cbkhare commented on #192
Raised PR https://github.com/tinkerbell/tink/pull/193

[2020-06-25 09:33] mrmrcoleman commented on #169
@gauravgahlot Which example are you going to use for the alpine work? (install Alpine Linux on worker)

[2020-06-25 22:03] rgl opened #194 "How to use and set the Ephemeral Data?"
https://github.com/tinkerbell/tink/blob/master/docs/concepts.md#ephemeral-data describes that we can use and access Ephemeral Data, but how are we supposed to do that?

Is there a way to bootstrap the workflow ephemeral data when we create the workflow?

Reading the code it seems that tink-worker will sync the `/workflow/data` file (and not the `/workflow/data.json` as depicted in the documentatio

[2020-06-26 13:31] gianarb commented on #169
@gauravgahlot did you already select a target platform for CI/CD? I doubt github action, circleci, travis allowed to use vagrant.
Maybe @grahamc knows more because he tweeted about this

[2020-06-26 13:39] #192 closed

[2020-06-26 13:44] mmlb commented on #169
our internal drone.packet.net exists *solely* to run VMs (for osie tests) :D, we can use it.

[2020-06-26 13:48] mmlb commented on #169
But its an older version of drone. We can fire up a separate setup off of latest drone.io version and that way also keep external stuff off of our internal build hosts.

I can't recall if semaphore or circle ci let us bring our own build agents and thus allow us to run VMs in them.

[2020-06-26 13:57] gianarb commented on #169
@mmlb do you think it is useful to setup e2e tests in a way that they can support multiple platform? Right now we have

1. Vagrant
2. Packet

Tomorrow we will may have something else and the workflow I am picturing is the one we have for kubernetes.

1. PR comes in somebody review it and when it is ready to get tests e2e it adds the label
2. When the label is there one job per platform starts and

[2020-06-26 14:24] mrmrcoleman commented on #169
My 2 cents.

For Vagrant we'd want to test it in the way the user would use it. This means we'll need a build runner that supports virtualization.

I think testing the actual workflows might be tricky, but happy to think through it with you.

[2020-06-29 12:13] gianarb opened #195 "Generate rest api via OpenAPI"
I had a chat with @kdeng3849 about OpenAPI and my transformation from a code generator hater to its fun because doing API requires a lot of code that is actually kind of boring not that maintainable manually written.

I had the opportunity to work on two projects one after each other, both where using `swagger.yaml` but only one was generating the code out from it. The one that generated the code

[2020-06-29 15:58] nathangoulding opened #196 "Improved logic for worker connections"
## Description

There are a couple issues manifesting themselves which need resolution:

- Workers are connecting to tink and attempting to sleep for 3 seconds between "do I have more work" checks. The sleep is buggy however, and results in thousands of lines of log messages being dumped due to it continually retrying. Solution: switch to a gRPC stream instead of `sleep 3`.
- When fetching workflo

[2020-06-30 13:12] grahamc opened #198 "GlobalTimeout appears unused"
Right now, the global timeout is not actually used except at display-time in the `portal` project:

[code]

I propose the following semantics. Given a workflow:

[code]

1. phase-1 would execute to completion, take 20 seconds, and the entire workflow would have 10 seconds to complete the rest of the phases.
2. phase-2 would begin, run for 10 seconds, be killed, and the workflow is canceled.

[2020-06-30 13:55] kdeng3849 opened #199 "Metadata structure should be user defined"
At the moment, the metadata field of the hardware is a strictly defined structure. Any information outside of the defined structure would be ignored.
The metadata should be unstructured so users can push whatever they feel is relevant.

[2020-06-30 14:45] gauravgahlot commented on #187
@fransvanberckel Are you still facing this issue?

[2020-06-30 18:25] fransvanberckel commented on #187
No not any more. With the new Vagrant example from the Tinkerbell website, it's solved.

[2020-06-30 18:25] #187 closed

[2020-07-02 16:49] alexellis opened #201 "Introduce a Contribution Guide"
A Contribution Guide helps set expectations on what is required before making a contribution to an open source project.

It also can be used to discuss style and approach to how the team wants:

* code to be structured and tested
* where to go to get help
* how to become a maintainer
* any conventions required or tooling like linters
* whether a CLA or DCO is required (#202)
* how to find issues t

[2020-07-02 16:55] alexellis opened #202 "Consider legal implications of open source contributions"
The team may want to consider the legal implications of taking open source contributions from a broad audience. There are risks involved particularly when a copyright claim might arise or code is contributed where an employee is not authorised to do so.

There are two common approaches that you will see in commercial open-source and in independent projects.

The Linux kernel uses the Developer Cer

[2020-07-02 17:02] I-Lopez opened #203 "Vagrant: Boots service in perpetual reboot"
I'm trying to run through the Vagrant guide, but Boots does not stand after running `docker-compose up -d`

This screenshot shows the warnings once the above command is executed.
![image](https://user-images.githubusercontent.com/33550693/86387036-96234e80-bc60-11ea-9e4c-34331c12cdda.png)

This one shows the results of `docker-compose ps`
![image](https://user-images.githubusercontent.com/33550693

[2020-07-02 17:04] I-Lopez commented on #203
This is the correct screenshot of the `docker-compose up -d` command:
![Screen Shot 2020-07-02 at 12 36 38](https://user-images.githubusercontent.com/33550693/86389581-83ab1400-bc64-11ea-979e-b3b0a3c071aa.png)

[2020-07-02 17:06] mmlb commented on #202
We do *not* want to go with CLAs, and should very much do DCO requirements. I think we just overlooked it in the rush of activity.

[2020-07-02 17:10] alexellis commented on #202
When the time comes - enforcement is important and it's very easy to miss so automation helps with that.

Several OSS projects use Derek to enforce a DCO on commits and to allow listed contributors (not org admins) to open/close issues / PRs etc. https://github.com/alexellis/derek/

It's a free SaaS that is operated for the community - goreleaser / Docker / oketeo are using it.

[2020-07-02 18:13] mmlb commented on #202
I like the idea of using Derek, but not specifically for this task. I think https://probot.github.io/apps/dco/ would match up better with our use of Mergify since it blocks the PR via status checks.

Is there any plans in Derek to parse out CODEOWNERS file?

[2020-07-02 18:16] alexellis commented on #202
Why do you feel Derek doesn't fit? What do you feel is needed for that to change?

[2020-07-02 18:18] alexellis commented on #202
We found a bug in the probot that it couldn't detect an invalid DCO where one of the N commits was not signed off but the last was. I suspect that's still the case.

All commits need to be signed off, PRs are not what are kept in git history, commits are.

[2020-07-02 21:14] mmlb commented on #202
Derek blocking via status checks that we can require in the branch protection settings would be ideal. Changing the label Derek applies to `do-not-merge` would work, but not as well I think.

https://github.com/probot/dco/issues/121 seems to indicate that this has been fixed. I plan to check it out.

[2020-07-03 05:22] parauliya opened #204 "Add Validation of hardware data before pushing it to avoid duplication of mac addresses in the database"
## Expected Behaviour
If someone tries to push the hardware data which contains a mac address which is already present in the database, the API will fail with the error explaining that "this mac address is already present in the database.

## Current Behaviour
Currently there is no validation for this so a if user tries to push a hardware data which contains a mac which is already present in the d

[2020-07-03 08:00] rainleander commented on #201
Agreed and I'm keen to help. Where would you like to start this project?

[2020-07-03 08:05] alexellis commented on #201
I can advise the team on what to include, but I can't write this for you because it's really for the maintainers to decide what the process is going to be.

As for where - it would need a PR to this repo, but there is a chance that the .github repo can be used to make it appear in each. Perhaps you could identify the key maintainers and ping them in this thread?

Alex

[2020-07-03 08:37] alexellis commented on #202
In the linked issue, I can't see that the issue was fixed in probot, just that someone else also found it. I might be missing something though.

For my understanding: Does the `do-not-merge` label have specific significance to your workflow, or is that just your reference over the `no-dco` label?

There is work to block statuses, however, this may be the reason that probot has a bug - the status c

[2020-07-03 11:50] mmlb commented on #202
The linked issue mentions that the fixup help message is inaccurate, that it does not correctly message how to fix a non-dco commit in history that is not the latest commit.

Either way, I just tested on a personal repo and the app correctly identified all commits missing dco, followed by latest commit good but previous missing, and then all commits with DCO.

do-not-merge is how we've setup mergi

[2020-07-06 05:28] Cbkhare opened #206 "Fix tinkerbell hardware client naming convention"
Currently, tinkerbell hardware client method in tink/client/main.go is `NewTinkerbellClient`. Name of this method creates confusion that if it is a generic client. It should be renamed to `NewTinkerbellHardwareClient`. Changes to call this method should also be done in boots.

[2020-07-06 10:10] gauravgahlot opened #208 "Network configuration with netplan fails in Packet environment"
## Expected Behaviour
The network configuration with netplan should complete without an error.

## Current Behaviour
Currently, the network configuration fails with the following error:
[code]

## Possible Solution
- This seems to be a bug with netplan discussed [here](https://bugs.launchpad.net/netplan/+bug/1810043).
- Adding a step to install netplan.io fixes the problem.
[code]

## Steps to Rep

[2020-07-06 17:48] DailyAlice opened #209 "tink cli - `--file` and `--path` flags not opening and reading files"
According to the current docs using `tink hardware push` should take a `--file` flag with a filename. Instead it just hangs.
[code]
This works though:
[code]

Similarly, `tink template create` should take a `--path` flag with a filename. It also hangs.
[code]
This works though:
[code]

It is my understanding that both are supposed to work. Working on the documentation to reflect what the intended

[2020-07-07 12:06] parauliya commented on #203
Hi @I-Lopez,
I just ran the same setup on my local machine and it is working fine. There is no issue with boots.
After looking at your logs I feel like there is a possibility that your boots image might not be the latest one.
Could you please destroy the current setup completely and try that again and let us know if you face the same issue again?

Thanks,

[2020-07-07 13:10] I-Lopez commented on #203
This worked thank you!

[2020-07-07 13:10] #203 closed

[2020-07-07 14:30] mrmrcoleman commented on #80
@grahamc Try to log into drone.packet.net with your GH account and if it doesn't work let @mrmrcoleman know so he can ask Ben R.

[2020-07-08 15:09] Cbkhare commented on #206
PR merged

[2020-07-08 15:09] #206 closed

[2020-07-08 22:57] fransvanberckel opened #212 "generate-envrc.sh: tinkerbel tink username and password"
setup.sh does warning ...

WARNING: The TINKERBELL_TINK_PASSWORD variable is not set. Defaulting to a blank string.
WARNING: The TINKERBELL_TINK_USERNAME variable is not set. Defaulting to a blank string.

Doing a grep inside the tink repo root does ...

root@deblnxsrv2:/var/tinkerbell/tink# grep -r TINKERBELL_TINK
- deploy/docker-compose.yml:      TINK_AUTH_USERNAME: ${TINKERBELL_TINK_USERNAME}
-

[2020-07-09 09:41] fransvanberckel opened #213 "setup.sh: docker build deploy/tls, APKINDEX.tar.gz: temporary error (try again later)"
Maybe i am the only one who suffers from it, but just got this error while running setup.sh.

-- root@deblnxsrv2:/var/tinkerbell/tink# ping dl-cdn.alpinelinux.org
PING dl-cdn.alpinelinux.org(2a04:4e42:9::645 (2a04:4e42:9::645)) 56 data bytes
64 bytes from 2a04:4e42:9::645 (2a04:4e42:9::645): icmp_seq=1 ttl=56 time=13.5 ms

Executing docker build from prompt to get a clear error message ...

-- roo

[2020-07-09 11:16] fransvanberckel commented on #213
What still fails ...

-- root@deblnxsrv2:/srv/tink# docker build --tag "tinkerbell-certs" "deploy/tls"

What does build well ...

-- root@deblnxsrv2:/srv/tink# docker build  --network=host --tag "tinkerbell-certs" "deploy/tls"

[2020-07-09 12:08] #204 closed

[2020-07-09 19:46] fransvanberckel opened #214 "setup.sh: envrc: STATEDIR: readonly variable"
I added statedir to envrc and moved state outside the git tree ...

export STATEDIR=/var/tinkerbell/state

While executing setup.sh, i have got this error, and stops running.
That's because it has: readonly STATEDIR=$DEPLOYDIR/state ?
Or am I not allowed to change the deploy or state directory location ?

root@deblnxsrv2:/var/tinkerbell/tink# ./setup.sh

INFO: starting tinkerbell stack setup
INFO:

[2020-07-10 05:00] #150 closed

[2020-07-11 13:56] fransvanberckel commented on #212
generate-envrc.sh patch ...
root@deblnxsrv2:/var/tinkerbell/tink# git diff
diff --git a/generate-envrc.sh b/generate-envrc.sh
index bbea823..b1c1d76 100755
--- a/generate-envrc.sh
+++ b/generate-envrc.sh
@@ -47,6 +47,8 @@ generate_envrc() (

        validate_tinkerbell_network_interface "$tink_interface"

+        local tink_password
+        tink_password=$(generate_password)
        local regist

[2020-07-11 14:03] fransvanberckel commented on #212
[generate-envrc.sh-git.diff.txt](https://github.com/tinkerbell/tink/files/4906873/generate-envrc.sh-git.diff.txt)
Adding patch

[2020-07-11 14:16] fransvanberckel commented on #212
Created a PR
https://github.com/tinkerbell/tink/pull/215

[2020-07-12 07:25] fransvanberckel commented on #213
Adding  --network=host does the job well.

[2020-07-12 07:25] #213 closed

[2020-07-13 08:50] parauliya commented on #198
@grahamc I have a suggestion. Since we are parsing the yaml before creating a template. We can add the timeout of all the actions and then we can comapre it with global timeout. If it exceeds we can simply say that this template is invalid.

[2020-07-13 14:56] parauliya commented on #196
Hi @nathangoulding,
There are few things I would like to discuss about :
 1. I think adding gRPC stream between tink-worker and tink-server is not a good solution because of the following reasons

               -   This will convert the protocol between worker and server from stateless to stateful which will add the condition based on stream connectivity.
               -   If there are multiple

[2020-07-13 16:51] nathangoulding commented on #196
Responses inline:

If there is an established session it will use it; otherwise, it will wait for a worker to fetch it like it does today.

Correct, this is how it works with osie-runner and hegel in production today.

I'm not sure I understand this justification.

The overhead that will be eliminated by converting from polling to a gRPC stream is:

- Every polling request that returns no actions

[2020-07-13 16:54] nathangoulding commented on #196
Responses to the bullets inline:

We should convert to a gRPC stream, not use polling.

Yes, correct.

I'm fine to break this issue into a separate task, i.e. tink-worker container adds a parameter that causes it to exit on completion, or wait for additional actions.

[2020-07-13 17:13] Cbkhare opened #217 "Proposals for enhancement on tinkerbell"
**1**) Fault tolerant provisioner:
**problem**: Currently the provisioner runs only on single machine. If that machine goes down, tinkerbell as a setup would become unresponsive and worker machines can go into undesirable state.
proposal:
**solution**:
a) Setup should be in HA state. provisioner should have more than one instance, could be in active-passive. State of provisioner should be consiste

[2020-07-14 07:45] Cbkhare commented on #209
hey @DailyAlice,

I looked into the issue. The problem you are facing is due to `docker exec`. Below points highlights the RCA.

1) Problem is _**not**_ with tink-cli. It works completely fine.
    I verified it by executing the tink commands from inside the tink-cli container using `--file` and `--path` params.
    `docker exec -it deploy_tink-cli_1 sh`
    `/ # tink hardware push --file hd.json

[2020-07-14 13:04] #212 closed

[2020-07-14 20:19] DailyAlice commented on #209
Thanks for looking into it @Cbkhare!

This clears up a lot for me, and I think for right now, I can definitely clarify in the docs when to use the flags vs when to use `<` and why.

I don't really have approve or write access for the linked proposal repo, but added a comment in support.

[2020-07-15 04:28] gauravgahlot commented on #209
@DailyAlice can we close this issue?

[2020-07-15 07:49] fransvanberckel commented on #214
It's not only statedir involved, but also docker-compose.yml

[2020-07-15 07:49] #214 closed

[2020-07-15 07:54] Cbkhare opened #218 "Worker should have only read access to tink-server"
Worker make grpc requests to tink-server. Worker has currently access to all the grpc methods and uses them for some process. This also enables the worker to modify the attributes inside the tink-server.

## Expected Behaviour
a Worker would have only read access to tink-server grpc methods and should only access attributes specific to it.

## Current Behaviour
Worker has full access to tink-serve

[2020-07-15 12:17] gianarb commented on #169
Today I got some time and I tried the Getting Started with Vagrant tutorial inside a Packet machine. I got it running apart for the worker that requires a GUI and we do not have it:

[code]

## How I did it

1. Create a machine on packet

[code]

2. ssh into it and run:

[code]

At this point you can follow the Getting Started until the end.

[2020-07-15 12:40] gauravgahlot commented on #146
@grahamc @mrmrcoleman I think we can close it now.

[2020-07-15 13:45] gauravgahlot commented on #169
I tried executing an Ubuntu provisioning workflow on my local Vagrant setup without GUI. It was successful.
[code]

Then to access the worker I had to do:
[code]

[2020-07-16 14:30] displague opened #219 "Document all public interfaces"
## Expected Behaviour

As a developer, the interfaces of the client should be easy to work with.

The endpoints should be documented in a way that describes what the purpose of each endpoint is and what the parameters do.

## Current Behaviour

Endpoints are not documented: https://github.com/tinkerbell/tink/blob/0100e535bd94c14b95eeedbbe46c576d1f344301/protos/hardware/hardware.pb.go#L2023

This m

[2020-07-16 19:56] DailyAlice commented on #209
Sure! When I get around to tackling the nitty-gritty details of adding this to the CLI docs, I'll track it in a new/separate issue.

[2020-07-16 19:56] #209 closed

[2020-07-17 19:24] kdeng3849 commented on #195
Sorry for only getting back to this now, but I've been making some changes to the REST api (https://github.com/tinkerbell/tink/pull/197), where I am now creating all the rest endpoint handlers manually (and not using the generated gateway files). The reason for this change was that the generated code does not allow for as much customization as we would have liked, and as a result, there is now a d

[2020-07-20 02:32] gauravgahlot commented on #181
@mrmrcoleman @alexellis Can we close this issue?

[2020-07-20 02:33] gauravgahlot commented on #146
Closing this one. New issues may be created in future.

[2020-07-20 02:33] #146 closed

[2020-07-20 06:38] parauliya opened #222 "tink-worker container should keep on running and seeking for workflow tasks to execute"
tink-worker container should keep on running even after the completion of all the current workflows.

## Expected Behaviour
tink-worker container should not exit if all the workflows executed successfully.

## Current Behaviour
Currently tink-worker container exits once all the workflows provided to it are completed successfully.

## Possible Solution
1. Use `gRPC stream`  instead of  `sleep` for

[2020-07-20 06:54] Cbkhare commented on #222
this issue seems to be duplicate of https://github.com/tinkerbell/tink/issues/72

[2020-07-20 07:30] gianarb commented on #195
Based on my experience the OpenAPI workflow is comfortable when it is used to generate docs, models, clients, and so on. As soon as one of those bits is lost the situation easily gets out of control. But if it does not feet our needs I presume the game is over 😁 😁 Thank you for trying it!

[2020-07-20 07:36] parauliya commented on #222
Not exactly duplicate but yes it contains the same so we can close the previous one which is #72 .

[2020-07-20 07:54] alexellis commented on #146
Hi, have you moved over to Netplan when installing on Ubuntu LTS (my main concern)?

[2020-07-20 07:55] alexellis commented on #181
It seems like it, since @mrmrcoleman sent a PR. I would suggest that the team try out the "closing keywords"

Just add to your commit message:

[code]

The word "Fixes" also works the same, then, when the PR is merged, the issue will also be closed, subject to some constraints.

[2020-07-20 07:55] #181 closed

[2020-07-20 08:01] gauravgahlot commented on #146
Yes, we have.
https://github.com/tinkerbell/tink/blob/master/setup.sh#L82

[2020-07-20 09:35] Cbkhare commented on #116
I tried to replicate this issue.

With the implementation of https://github.com/tinkerbell/boots/issues/35, until there is no active workflow, PXE-boot won't happen. On replicating I found, it gets blocked before PXE step. I also tested it with worker and workflow to install Ubuntu OS. On reboot, ubuntu is brought and pxe-boot doesn't happen.

[2020-07-20 14:06] kdeng3849 commented on #195
Yeah no problem.
The original motivation for creating the rest api was so our central api could hit it, but it also serves as another way for users to interact with tink without being language specific.

I was thinking we could still use the swagger.json files as a base, since I don't expect the api to be rapidly changing or growing. But yeah, it wouldn't be using OpenAPI and it'll be written/main

[2020-07-21 14:29] thebsdbox commented on #67
The `tink` binary is already available within container images as distributed through the example workflow. An additional Issue https://github.com/tinkerbell/tink/issues/73 also documents the creation of the binary which may impact the documentation.

Additionally the `docker-compose` file is used to start all of the `tink` binaries inside of docker containers. (https://github.com/tinkerbell/tink/

[2020-07-21 14:47] thebsdbox commented on #74
https://github.com/tinkerbell/tink/issues/94 The version subcommand will also become part of the same piece of work.

[2020-07-24 12:48] mrmrcoleman commented on #201
@thomcrowe I think I heard you say you'd started on this, is that correct?

[2020-07-24 14:01] #199 closed

[2020-07-25 08:49] fransvanberckel opened #225 "registry: No HTTP secret provided - generated random secret"
Is there something fundamentally changed in the password logic for registry? Some weeks a go, we added apache2-utils (read for htpasswd) to the Dockerfile, because it wasn't in the image any more.

https://github.com/tinkerbell/tink/commit/3212aa49df2571e62f2ea24a53cd88c26c3d6804

And if i check the logs now, i am getting ...

-- registry_1 | time="2020-07-25T08:26:13.379776536Z" level=warning msg

[2020-07-26 07:33] fransvanberckel commented on #189
I created a Ansible playbook for Tinkerbell
-- https://github.com/fransvanberckel/ansible-role-tinkerbell

[2020-07-26 20:00] displague opened #226 "Create a Kubernetes deployment"
## Expected Behaviour

Tinkerbell should be installable via `kubectl apply ...` or `helm install ...`.

## Current Behaviour

Tinkerbell is not installable in Kubernetes.

## Possible Solution

Create manifests for Kubernetes installations.

This requires that images are published.
* [x] https://quay.io/organization/tinkerbell (amd64)
* [ ] The images should be multiarch so the Kubernetes install

[2020-07-27 12:11] displague commented on #226
I converted the docker-compose environment from https://github.com/tinkerbell/tink/tree/master/deploy into an initial set of manifests: https://github.com/displague/tink-charts.

These currently lack any documentation on the configuration steps necessary to make them usable, because I am still tinkering with them.

I am using this on Raspberry Pis.  When installing these manifests, I ran into the

[2020-07-27 12:41] displague commented on #226
@matoszz directed me to https://github.com/tinkerbell/tink/wiki/RFC-%233-Kubernetes-Support which covers the changes needed to get Tinkerbell running from Kubernetes from the perspective of a CRD controller handling the data.

This issue was opened with the expectation of using CSI or local-path volumes to persist data. I think this is a shorter path to running Tinkerbell within Kubernetes. A CRD

[2020-07-29 09:41] gianarb opened #227 "Remove unnecessary references to Packet"
I think we should remove the word Packet if not necessary like here:

https://github.com/tinkerbell/tink/blob/850584d46c8d5d7aaee3868f13fa5aede97ac32b/http-server/http_server.go#L80

[2020-07-29 16:01] #169 closed

[2020-08-03 16:49] displague opened #228 "Move terraform deployment to a separate repository"
## Expected Behaviour

The terraform deployment should be stable and published in the terraform.io registry.

## Current Behaviour

* `deploy/terraform` falls out of sync with the shared setup.sh (used by the Vagrant installer).
* The project not can be used as a module from the terraform registry

## Possible Solution

* Move terraform deployment to a new terraform-packet-tinkrbell repository.
*

[2020-08-03 17:02] displague commented on #228
I have started with this in github.com/displague/terraform-packet-tinkerbell

[2020-08-03 17:05] displague opened #229 "separate vagrant deployment into a new repository"
## Expected Behaviour

The vagrant deployment should be stable, easy to find, tested, and well documented.

## Current Behaviour

* `deploy/vagrant` falls out of sync with the shared setup.sh (used by the Terraform and stand-alone installer).

## Possible Solution

* Move terraform deployment to a new vagrant-packet-tinkerbell repository. (is this the best name? is there a vagrant repository namin

[2020-08-04 04:14] displague opened #230 "Introduce golangci-lint for CI tests"
## Expected Behaviour

Linting prevents risky code from being introduced into the project.

## Current Behaviour

The current “golint” threshold doesn’t prevent many common problems from building up (unused variables, ineffectual assignment, unchecked errors).  When overlooked these problems lead to error-prone code.

## Possible Solution

Replace golint tests with golanglint-ci in tests.
golangci

[2020-08-04 12:18] #72 closed

[2020-08-04 12:18] #196 closed

[2020-08-04 12:18] #222 closed

[2020-08-04 12:34] gianarb commented on #201
I pinged @thomcrowe on salck, he is working at it!

[2020-08-04 12:49] gianarb commented on #182
Hello @alexellis

I am not sure if this is a problem we get only when using VirtualBox or if it applies to libvirt as well, I will have to check. But I am not sure if it has a fix.

We can write a note in the documentation [Vagrant Setup](https://tinkerbell.org/setup/local-with-vagrant/) saying that the Warning is expected and why it happens. But I didn't find an easy way to configure vagrant in o

[2020-08-04 13:14] gianarb commented on #225
Hello @fransvanberckel

No, the registry version or the image did not change for what I can see scanning the git history for the project. I tried to setup Tinkerbell via Vagrant and I see I have the same log but after that everything works fine. I think it was always there.

it is a warning that causes issues only if there are multiple registries behind the same load balancer. This is something th

[2020-08-04 13:16] gianarb commented on #189
Yes! I think for now I will close this issue!
Thank you for your help with the Ansible role!

[2020-08-04 13:16] #189 closed

[2020-08-04 13:48] gianarb commented on #202
Hello!

Just a heads up @mmlb enabled just now https://probot.github.io/apps/dco/ for all repositories.

I will close this issue for now because @thomcrowe  will mention what's needed about this process as part of #201 .

[2020-08-04 13:48] #202 closed

[2020-08-04 14:02] thebsdbox commented on #163
After going through a few workflows the following describes the usage:

- `/workflow` is used to contain mainly metadata information
- `/statedir` is used to contain information or "state" that happens between running containers was part of a workflow.

[2020-08-04 14:19] fransvanberckel commented on #225
Hello @gianarb

I am not having any practical issue. It's just a warning.

[2020-08-04 14:47] gianarb commented on #225
Great thanks, I will close this issue for now 👍

[2020-08-04 14:47] #225 closed

[2020-08-04 14:54] gianarb commented on #217
Hello @Cbkhare ! I am gonna close this for now. I think it will be nice if we can elaborate those time of questions more in their own [proposals](https://github.com/tinkerbell/proposals), now that we have them!

Thanks!

[2020-08-04 14:54] #217 closed

[2020-08-04 14:58] gianarb commented on #163
After a chat with Thom, I am assigning this issue to @DailyAlice to double-check if something has to be added to the documentation. Otherwise, feel free to close it!

Thanks!

[2020-08-04 15:05] gianarb commented on #120
Thanks Alex!
@DailyAlice updated the example and I think it is not 100 times better! if you have any suggestions feel free to open a PR!

[2020-08-04 15:05] #120 closed

[2020-08-04 15:15] gianarb commented on #161
This got fixed with the new setup.sh version and I can't reproduce it!
Closing it for now

[2020-08-04 15:15] #161 closed

[2020-08-04 15:18] gianarb commented on #103
I had a chat with Thom, and this is out of date and can be closed

[2020-08-04 15:18] #103 closed

[2020-08-04 15:38] mrmrcoleman commented on #83
Hey @alexellis thanks for including us in the Awesome Bare Metal repo and my apologies for the long delay on getting an answer to this issue. There are internal conversations happening to start sharing more of the "big picture" with the community and once they are ready to share we'll be announcing them in the community slack. That work is tracked internally, so I'm closing this issue.

[2020-08-04 15:38] #83 closed

[2020-08-04 17:57] DailyAlice commented on #163
I don't think that there is anything specific here that can be added to the docs at this time. I'll make a note of it though, there is probably a larger doc that can be written around Workers and container behaviors.

[2020-08-04 17:57] #163 closed

[2020-08-05 06:11] gianarb commented on #118
Hello

We changed the setup.sh script few weeks ago and it can now run multiple times safely. Cleanup for reinstallation should not be a problem anymore.

I am gonna close it for now, if you get an error that requires a cleanup let us know with a dedicated PR reporting the error because there is a continuously ongoing effort to make the setup script idempotent.

Thanks a lot!

[2020-08-05 06:11] #118 closed

[2020-08-05 06:30] gianarb commented on #112
This is done https://tinkerbell.org/faq/

[2020-08-05 06:36] gianarb commented on #79
I am closing this for now.
Currently, we do not have the bandwidth to onboard a new project has part of the Tinkerbell organization.
We are hardly working on stability at the moment.

I am sure as well as Ansible #189 at some point those projects will be crucial to have here.
Thank you for keeping the Terraform provider up and running! I will be sure to discuss about both soon to see what we prefe

[2020-08-05 06:38] gianarb commented on #67
I am gonna close this for now.
We are working on a release process that includes binaries ready to be consumed and the setup.sh script + docker-compose are for now a good way to figure out the installation process. Not ideal but we are working hard to get to something more portable and that is not docker-compose based.

[2020-08-05 06:38] #67 closed

[2020-08-05 06:43] gianarb commented on #219
Hello @displague ! Thank you for opening this PR. I think comments has to be improved and you identify a very valuable place to start with!

Are you interested in opening a PR with the 3 comments you suggested?!

Thanks

[2020-08-05 06:51] gianarb commented on #108
Not sure if we need to add validation to CLI, we need API to fail and boots to not panic.

@kdeng3849 do you think this is something that you already fixed when working on the hardware metadata?

[2020-08-05 06:52] gianarb commented on #218
I think this is a much bigger issue. To make it right we need RBAC or something similar.

[2020-08-05 06:54] invidian commented on #79
Why not keeping it open until you have a bandwidth available for it? Another person may now open the same request and peoples reactions will be lost, people will have to subscribe to new issue etc.

[2020-08-05 07:06] gianarb commented on #116
@DailyAlice wrote documentation for the workflow execution that I hope will clarify a bit this behavior
https://github.com/tinkerbell/tinkerbell.org/pull/110/files

Tinkerbell does not do any magic action. The worker has to be configured to start from disk otherwise if an operating system is not found it will follow the boot chain going to network boot (PXE).

If your behavior looks not in line wi

[2020-08-05 07:06] #116 closed

[2020-08-05 07:06] gianarb commented on #198
I like the idea to validate it at API layer

[2020-08-05 07:08] gianarb commented on #105
I think most of those points are not addressed! I remember when we opened it back in the day, Saturday trying to make Tinkerbell to work!

[2020-08-05 07:08] #105 closed

[2020-08-05 07:18] #164 closed

[2020-08-05 07:42] gauravgahlot commented on #208
Netplan fixed it and it will be rolled to newest distributions. Also, the problem is now documented in this issue and it has a solution that I hope will help the community.

Closing this issue.

[2020-08-05 07:42] #208 closed

[2020-08-05 08:53] gianarb opened #233 "From Drone to Github Action"
In the ongoing effort to release the pressure to our internal drone.io and to improve independency for Tinkerbell as a project, we should move our CI/CD to GitHub Actions.

I had a look at it, but I would like to discuss here how to re-do it to see if we can make some improvements along the way.

What does it currently do to commit and pull request:

1. go test
2. runs ./ci-checks.sh
3. build dock

[2020-08-05 11:30] gianarb commented on #162
I see this as an opportunity for community members or maintainers if they use this techniques to blog about it.
Right now we have a not that detailed [troubleshooting document](https://tinkerbell.org/troubleshooting/) that we can refer the blog post too. And an issue about [Contrib documentation](https://github.com/tinkerbell/tinkerbell.org/issues/107).

if you are working with Wireshark and you n

[2020-08-05 11:30] #162 closed

[2020-08-05 12:06] thebsdbox commented on #233
I agree with the `push` of images... things should be built internally if possible (or perhaps with a `-devel`) including all of the testing tags etc.. the actual `push` should only occur on an actual release..

[2020-08-05 12:10] thebsdbox commented on #227
I agree as this is a bit unnecessary, also most servers have "standardised" on `/healthz` as detailed here -> https://vimeo.com/173610242

[2020-08-05 12:10] gianarb commented on #233
Can you elaborate @thebsdbox `things should be built internally if possible`? What does it mean internally?
I presume a release will still be managed via GitHub action, but in its own way when a tag gets pushed.

[2020-08-05 12:51] displague commented on #233
This sounds reasonable to me. The images I would expect to find published would be "latest", any special long-lived branches, and tagged releases.  Additional git-sha based images are noise.

When tests are run for a PR, e2e tests should avoid publishing images and rely on pushing the image onto the test nodes directly. This avoids caching problems but also keeps our tests focused on the images th

[2020-08-05 12:58] thebsdbox commented on #233
All testing and development images if possible should be pushed to some internal registry for testing so we can ideally do what ever tests we need to do without confusing what ever external registry we decide as our "source of truth" for *published* images.

[2020-08-05 13:43] mmlb commented on #233
The image pushes go to a separate quay repo, thats true for all of our repos here. See https://github.com/tinkerbell/tink/blob/master/.drone.yml#L85 vs https://github.com/tinkerbell/tink/blob/master/.drone.yml#L112

There are a couple of reasons we push PR images to a central repo.
1. Allows us to make use of the freshly built images *in* the .drone.yml later on for docker-compose type integration

[2020-08-05 13:48] mmlb commented on #233
`tinkerbell/tink` doesn't actually use our internal drone, tinkerbell/osie does. But this idea still makes sense since we *want* to do integration tests and part of that would be running workflows in VM based workers. We can only do that on self-hosted infra. So we'd either use our drone.packet.net (which we wouldn't want to make permanent) or a byo-server to GitHub Actions. I prefer the latter :+

[2020-08-05 14:15] mmlb commented on #99
Hey @sokoow, welcome! Great idea you've got there, I'd love to see tink used there.

Why wouldn't gRPC work for you? We're working on "catch-all" MACs worflow support ourselves too, stay tuned for updates.

[2020-08-05 14:24] sokoow commented on #99
mostly for simplicity, I'm orienting myself on a pull paradigm from some publicly available https source - who knows, maybe grpc would work here too. greetings for Zac by the way also :)

[2020-08-05 15:06] gianarb commented on #233
Ok, thank you for explaining to me the difference between *-pr repo and not. I think it is cool and I will replicate that.

I can use something like `QUAY_USERNAME_PR` `QUAY_PASSWORD_PR` for PR and `QUAY_USERNAME` `QUAY_PASSWORD` for non PR, but not sure about how it will help with leaks because the workflow is actually the same

[2020-08-05 15:13] kdeng3849 commented on #108
This seems to be using the old hardware data model, and I can't tell what caused the panic or what the panic was at first glance. There has been some forms of validation added to the tink server, but (most likely) not specific to this issue. I think unless we get more details on this one, we can close this and see if anyone else is having this issue more recently?

[2020-08-05 15:17] mmlb commented on #233
Bummer, but I'll take E2E tests over the -pr images any day.

[2020-08-06 06:13] fransvanberckel opened #236 "Create a Debian workflow for deploying the workers"
Create a Debian workflow for deploying the workers, what should be reflected?

[2020-08-06 06:17] fransvanberckel commented on #236
I just created a Debian workflow for deploying the workers
-- https://github.com/fransvanberckel/debian-workflow

The could-init configuration is moved to the database.  Not having any cloud-init experience, and coding. So who is willing to share there /etc/cloud/ content? By default with Debian, there not that much settings into etc. So what got to be in, for a happy booted server?

[2020-08-06 08:29] gauravgahlot opened #238 "Changes in boots to get WorkflowContextList from updated method in Tink"
With recent changes in `GetWorkflowContexts` method as per the commit https://github.com/tinkerbell/tink/commit/46881647de83f85ea00b2e51385b9be5e10f470e#diff-a223963715d7c23da698d5963075810eL36 boots does not get the intended list of workflows in the tink server. The worker is not able to PXE boot. Boots needs modification as per https://github.com/tinkerbell/tink/pull/237 to complete.

## Expecte

[2020-08-06 08:38] Cbkhare commented on #238
Separate method is added as per https://github.com/tinkerbell/tink/pull/237 to get WorkflowContext lists. Boots to be modified accordingly.

[2020-08-06 10:20] Cbkhare commented on #238
Tested code changes with #237 `tink` PR. Workflow execution is now working fine.

[code]

[2020-08-06 10:24] Cbkhare commented on #238
Riased PR  https://github.com/tinkerbell/boots/pull/64

[2020-08-06 10:48] #238 closed

[2020-08-06 11:25] Cbkhare commented on #238
Pr merged tinkerbell/boots#64

[2020-08-06 12:14] gianarb commented on #108
I agree @kdeng3849 thank you for your investigation on this.

[2020-08-06 12:14] #108 closed

[2020-08-06 12:21] gianarb commented on #233
@displague this PR is not about e2e but it is more about porting what we have so far in drone.
I will work on e2e later as soon as I will review and make #80 working

[2020-08-06 15:02] #233 closed

[2020-08-06 15:46] gianarb commented on #230
Solved by #233

[2020-08-06 15:46] #230 closed

[2020-08-07 14:44] gianarb opened #246 "Use goss and multi stage build to test docker images"
goss is a popular framework usable via docker that helps to check the status of a server/docker image.

https://github.com/aelsabbahy/goss-docker

A nice integration is to combine this with multi-stage build to change stage as the last step in Dockerfile to run the assertion [jumping back to the previous one](https://docs.docker.com/develop/develop-images/multistage-build/#use-a-previous-stage-as-

[2020-08-17 04:15] nwmcsween commented on #142
1. sysprep an image which will give you a wim file, use an unattened.xml as well so windows auto installs without messing
around
2. format and partition with ntfs
3. use https://wimlib.net/ in the workflow to apply the wim image to the formatted drive

[2020-08-17 04:48] nwmcsween opened #253 "Integration with netbox"
Integration with netbox.

Briefly looking over the code there would need to be glue between what tink takes and netbox provides, id in netbox is serial and such

[2020-08-17 07:19] gianarb commented on #253
Thank you for opening this issue! I personally do not have any experience with netbox but I am sure it will be nice to experiment with it! If you have any detailed pointers to help me or other contributors to figure out where and how netbox plays in the stack it will make MY life easier.

If you made any attempt with workflows let us know

[2020-08-17 08:39] nwmcsween commented on #253
Netbox would replace the hardware.json db and possibly the workflow db.
Tink would pull from the netbox rest API instead of the postgresql
instance, the workflows could then use the netbox API to query for richer
metadata. The issues with integrating is Tink would require a few custom
fields and (UUID, storage, etc) created and depending on the number of
custom fields it might make sense to write

[2020-08-18 09:36] #227 closed

[2020-08-18 12:53] parauliya opened #257 "Adding more tests in vagrant"
Add Few scenarios in vagrant tests

## Expected Behaviour
Right now vagrant test setup runs only happy workflow. I would like to have following scenarios in vagrant tests:

- [x] One workflow with one worker where all the actions are successful

- [x] One workflow with one worker where an action gets failed

- [x] One workflow with one worker where an action gets timed out

- [x] Two workflows wit

[2020-08-18 22:57] jeremytanner opened #259 "tink-server log outputting broken JSON for tink workflow create"
While working through the 'Start the Worker' section of [Local Setup with Vagrant](https://tinkerbell.org/docs/setup/local-with-vagrant/), the logs I see when running `tink workflow create` have an unsubstituted variable `%s` in them, breaking the JSON:

`tink-server_1  | {"level":"info","ts":1597789674.3348048,"caller":"grpc-server/workflow.go:62","msg":"done creating a new workflow","service":"g

[2020-08-19 13:53] #94 closed

[2020-08-21 07:19] #259 closed

[2020-08-25 14:50] thebsdbox commented on #142
Steps 1/2 would typically be pre-Tinkerbell in order to generate an image, whereas step 3 would be implemented within a workflow.

[2020-08-25 14:57] thebsdbox commented on #99
At the moment the micro-services are quite tightly coupled, there would be a lot of effort required to perhaps split these out. In order to simplify these sorts of ideas we now have a proposals process that can raise these ideas for discussion available here -> https://github.com/tinkerbell/proposals

[2020-08-25 15:06] thebsdbox commented on #25
This has been successfully tested on Gigabyte Brix, in order to prove out the Tinkerbell workflow. Any hardware (including virtual) that can PXE boot should be supported to start a workflow through tinkerbell (and iPXE). Once consideration for NUCs/Brix and other small hardware is ensuring that enough memory exists in order to boot OSIE and workflow containers in memory.

[2020-08-27 06:55] parauliya commented on #198
As discussed, There is no use of `global_timeout` as we have `action level timeout` so this needs to be removed from the template.

[2020-08-27 14:40] parauliya commented on #198
There was a misunderstanding with the use of "global_timeout" but finally it was decided to have it in the template and add the support in the code.

[2020-08-28 20:43] wangxin311 opened #273 "tink fail to associate workflow with worker"
We have experienced an issue on one of our BM host which is not able to execute any workflow after tink-worker container been started, this failure seems because of tink is not associate workflow with the hardware.

## Expected Behaviour
tink-server should associate workflow with hardware.

## Current Behaviour
Sometimes tink-server is failed to associate workflow with hardware and cause BM not ab

[2020-08-30 09:20] gianarb commented on #273
Can you provide the version of tink-server you are using? if not let me know and I will do my best to help you with that. Ideally, if you used docker-compose the sha of the image running tink-server is enough for us to move forward.

Thanks

[2020-08-31 12:23] rainleander opened #274 "Tinkerbell Uniform Standards: Maintained Repos"
Our repositories should be the example from which adjacent, competing, projects look for inspiration.

Each repository should not look entirely different from other repositories in the ecosystem, having a different layout, a different testing model, or a different logging model, for example, without reason or recommendation from the subject matter experts from the community.

We should share our i

[2020-09-01 18:44] wangxin311 commented on #273
Here is the tink version I am running

[code]

Thanks

[2020-09-02 06:30] parauliya commented on #273
Hey @wangxin311 ,
I am not sure about the `tink-server `version but you are definitely not using the latest image of `tink-cli`, because in the latest version of `tink-cli`, the command `tink hardware all` has been changed to `tink hardware list` which provides you a list containing few important details of all the hardware in the database ( like mac, id, ip etc. ). Not sure that this is the issue

[2020-09-02 06:35] parauliya commented on #273
One more thing, just a suggestion on writing the template, since all of your actions are using the two envs as you have set them for all of your actions with the same value.
[code]
you can set these variables at the task level only once and these will be set for all the action at the run time when any of the action starts it's execution.

[2020-09-02 09:21] gianarb commented on #273
Hello @wangxin311

Sorry but your sha does not help me to figure out the right code you are running :( are trying to address this problem with a new project called [sandbox](https://github.com/tinkerbell/sandbox). It will be ready in a couple of days and I hope it will help.

Do you know when you started the provisioner more or less? weeks ago? yesterday? Just trying to figure out a time range.

Y

[2020-09-02 09:57] gianarb opened #277 "Write an e2e test library that uses qemu"
Write an E2E testing framework that uses QEMU.

it should work similarly to the one we have for Vagrant but it should support running test in parallel.

I hope this move will fix #257 as well.

[2020-09-03 21:44] geekgonecrazy opened #278 "force / store mac lowercase"
I created a hardware definition copying directly from proxmox which shows mac address all capital letters.

So when boots queried using the lowercase mac address it would return "unexpected end of json"

## Expected Behaviour

Force / store mac address lowercase

## Current Behaviour

Errors out

## Possible Solution

Force lowercase

## Steps to Reproduce (for bugs)

1. insert
[code]
2.
boot vm o

[2020-09-04 16:02] detiber commented on #278
I created https://github.com/tinkerbell/tink/pull/279, which should address this issue

[2020-09-06 05:38] geekgonecrazy commented on #278
Wow that was quick! 🙏

[2020-09-07 15:54] bbros-dev opened #281 "Meta-proposal: Tinkerbell-Zero (configuring microvms with no services)"
Tinkerbell-Zero mode similar in functionality to Chef-Zero.

We are **not** suggesting/proposing the same implementation detail as Chef-Zero (which provides a localhost server for the lifetime of the one-off configuration run).
Of course that may work.  We're agnostic on the detail.

## Expected Behaviour
No servers. No metadata server, etc. Whatever data is needed from a server should be supplied

[2020-09-08 13:29] Cbkhare opened #282 "Tink-cli creates workflow with the template Id which doesnot exists"
Tink-cli creates workflow with the template Id which does not exists

## Expected Behaviour

tink-cli should not allow creating the workflow with below command when the UUID corresponding to the template does not exists.
[code]

## Current Behaviour
Tink-cli allows creating the workflow with the above command. This throws an error when the worker with the same hardware Id is started. The error is

[2020-09-09 11:45] gianarb commented on #198
I had a chat with a bunch of people and we agreed on how this feature will be implemented.

The `GlobalTimeout` is a workflow attribute that acts as a safeguard to guarantee that workflow will end. Tinkerbell can't get to a point where workflow runs forever. The global timeout needs to have a default value in tink-server (15 minutes), the value has to be configurable with a flag or env var when th

[2020-09-09 11:51] gauravgahlot commented on #198
@gianarb
Does this mean `global_timeout` will no longer be part of the workflow template?

[2020-09-09 12:08] gianarb commented on #198
@gauravgahlot I modified the comment to make it even more explicit, let me know if it helps

[2020-09-09 12:16] gauravgahlot commented on #198
@gianarb Sure it does. Thank you! 👍🏼

[2020-09-09 12:20] parauliya commented on #198
@gianarb If a template has `global_timeout` set to 0, should we ignore and use the default one(15 min) or we should give error while creating such template?

[2020-09-09 13:53] gianarb commented on #198
we should return an error because the template is not valid

[2020-09-10 08:47] #282 closed

[2020-09-10 08:51] gianarb commented on #229
This is done. The vagrant directory that is still in this repo is only used for development purposes right now

[2020-09-11 06:49] rugwirobaker commented on #219
I'm just getting started going through the codebase and I think this would be very much helpful. If no else has I'd like to pick up.

[2020-09-15 16:07] detiber opened #291 "Creating a template from a missing file succeeds when it shouldn't"
## Expected Behaviour

If creating a template and providing a non-existant file using the `-p` argument, template creation should not succeed

## Current Behaviour

Template creation succeeds despite the error:

[code]

## Possible Solution
Do not eat errors when opening/reading from non-existent file:
https://github.com/tinkerbell/tink/blob/ca0df06e6aa4eb9d2e00ca7bb2d528506352753c/cmd/tink-cli/cm

[2020-09-15 16:14] detiber opened #292 "Updating a template does not update the workflows associated with that template"
## Expected Behaviour
Updating a template should update existing workflows associated with that template

## Current Behaviour
Updating a template does not affect existing workflows associated with that template

## Steps to Reproduce (for bugs)
1. Create an empty template (can be accomplished by https://github.com/tinkerbell/tink/issues/291)
2. Create a workflow associated with the previously cre

[2020-09-16 07:29] #291 closed

[2020-09-16 12:41] gianarb opened #294 "Event driven implementation"
This issue will be used as a way to summarize and centralize work required to solve proposal [[0012] Event driven system](https://github.com/tinkerbell/proposals/pull/17/)

The proposal is coming together and it is time to prototype and work on the actual implementation. The proposal contains directions and ideas about how it can be done, but the real work will be reflected here.

I want to split

[2020-09-16 13:50] #278 closed

[2020-09-16 14:00] gianarb commented on #292
I have a couple of questions because I think I am reading this lifecycle in a different way:

In which state is the workflow at the end of point (4)? Is it in a failed state? And how do you know that?

[2020-09-16 14:02] gianarb commented on #195
NOt needed for now

[2020-09-16 14:02] #195 closed

[2020-09-16 14:17] gianarb commented on #54
Thank you for opening this issue. Here we are! more will come I am sure
https://tinkerbell.org/docs/services/osie/

Closing for now!

[2020-09-16 14:17] #54 closed

[2020-09-16 14:18] #80 closed

[2020-09-16 14:19] gianarb commented on #81
@mmlb is this not enough?

https://github.com/tinkerbell/tink/blob/master/setup.sh#L20

[2020-09-16 14:43] gianarb commented on #113
I will close this for now. The setup script intended for the user is now moved to https://github.com/tinkerbell/sandbox.
Anyway, I don't think a setup bash script can cover all the operation experience required to have a system up and running.

It is written to boost a possible environment (a simple one) that can be used as the first test.

We do not have yet a story around ops excellence for Tink

[2020-09-16 14:43] #113 closed

[2020-09-16 15:19] alexellis commented on #113
I'm a bit alarmed that this issue has been closed. If there's still terraform (as I believe there may be) to setup Tinkerbell, then this issue still exists and needs taking seriously.

[2020-09-16 15:19] alexellis commented on #90
@gianarb I saw you closed the other script relating to ports. I think this one needs addressing rather than closing. Hopefully I can pre-empt you there.

[2020-09-16 15:26] gianarb commented on #90
This issue is ALWAYS in my mind! Yep we started something here #232 .

I kind of thing the same concept I tried to describe there applies here and Kibana is not even part of the stack anymore.

[2020-09-16 15:28] mmlb commented on #294
Strongly suggest `Phase1` is done with triggers like https://wiki.postgresql.org/wiki/Audit_trigger_91plus

[2020-09-17 07:57] gianarb opened #295 "Integrate a migration tool in tink"
Tink uses Postgres as datastore.

There are two things I would like to achieve here:

1. We need a way to migrate our database schema as part of #294 . We need to add an `event` table at least.
2. Right now the database initialization is applied via docker-compose. I would like to have a more generic mechanism and even better if it can be managed by tink itself.

I explored a couple of libraries:

[2020-09-17 08:25] thebsdbox commented on #295
I'm a little confused with your 👍 👎 ranking, but if we're already using `migrate` and it is relatively active then it seems like the path of least resistance 👍

[2020-09-17 08:30] rugwirobaker commented on #295
I can vouch for migrate too. The feature I like most is that I can embed my migrations in the binary using packr.

[2020-09-17 10:01] Cbkhare commented on #295
I found this big list of `Go Schema Migration tools` with good comparisons. May it can also help.

https://povilasv.me/go-schema-migration-tools/

Moreover, https://github.com/golang-migrate/migrate seems to be a good choice.

[2020-09-17 10:09] gianarb commented on #295
@Cbkhare the article is good but published in `PUBLISHED FEBRUARY 20TH, 2017`. In Go it means FOREVER! eheh

@thebsdbox those are pros and cons based on my judgment

I am evaluating the lib @rugwirobaker shared because I like how it looks easy to embed

[2020-09-18 08:14] rainleander opened #297 "Uniform Standards Request: Experimental Repository"
Hello!

We believe this repository is Experimental and therefore needs the following files updated:

* [ ] [The Experimental badge](https://github.com/packethost/standards/blob/master/glossary.md#experimental-badge) https://github.com/tinkerbell/tink/pull/299
* [ ] [The Experimental Statement in the README.md](https://github.com/packethost/standards/blob/master/glossary.md#experimental-statement)

[2020-09-18 08:15] rainleander commented on #274
Closed to convert to experimental repo: https://github.com/tinkerbell/tink/issues/297

[2020-09-18 08:15] #274 closed

[2020-09-18 11:09] #297 closed

[2020-09-18 17:28] mmlb opened #300 "Delete pkg package"
pkg packages is an anti pattern. Instead we should break out its contents into smaller/easier to use packages.

[2020-09-18 17:41] detiber commented on #300
+1000, we should also move anything that we don't intend to expose as a public API into one or more 'internal' packages

[2020-09-19 22:29] vigneshashokan commented on #300
@mmlb If no one is working on this, I can take a stab at this issue.

[2020-09-21 21:16] displague opened #303 "Add support for public registries"
Currently, docker registry username, password, and host values must be provided throughout the Tinkerbell ecosystem.

While authenticated Docker registries are practical for production deployments, in development and home lab environments this additional configuration and requirement creates a burden and restricts use.

By making these registry arguments optional, we enable:
- local registries wit

[2020-09-21 21:18] displague commented on #303
Also see https://github.com/tinkerbell/tink/pull/287/files#r491163737

[2020-09-22 06:46] gianarb commented on #303
Is it in some way related to #134 and #90

[2020-09-22 15:01] detiber commented on #303
@gianarb I think it might be tangentially related.

Ideally we'd support working with an existing registry host more easily, which is what this would be targeting. Ideally if we do deploy a registry it should be secure, but if a user already has a registry (or wants to use a public registry), then we should allow for it to be used and not necessarily require authentication for pulls.

[2020-09-22 20:33] mmlb commented on #81
@gianarb yep that looks good. We'd want to allow it to be specified in the env to close this issue out.

[2020-09-23 07:50] gauravgahlot commented on #300
@vigneshashokan I don't think anyone is working on it yet. I will assign the issue to you.

Please take read at the [communication](https://github.com/tinkerbell/.github/blob/master/COMMUNICATION.md) doc and do let us know if you face any issues in the slack channel.

Looking forward to your contribution. 😄

[2020-09-23 08:45] gianarb commented on #81
Looking at the code it already works that way

[2020-09-23 12:24] MaxPeal opened #306 "the file pull via curl is not robust and sometimes fail with out error / abort the script"
the file pull via curl is not robust and sometimes fail with out error / abort the script

## Expected Behaviour
curl must catch the errors and abort the script.

## Current Behaviour
curl will fail silently

## Possible Solution
see the PR #305

## Steps to Reproduce (for bugs)
have a unstabel network

## Your Environment
local Environment

* Operating System and version (e.g. Linux, Windows, Mac

[2020-09-28 15:39] #295 closed

[2020-09-30 09:14] parauliya commented on #273
Hello @wangxin311, There is been almost a month, you have not replied to the queries we are asking for. Please reply the same else this issue will be closed within couple of days.

[2020-09-30 18:56] mmlb commented on #81
Not really right? Looking at the code on https://github.com/tinkerbell/tink/blob/master/setup.sh#L20:

[code]
it would probably be something like:
[code]
But in all honesty... I can't remember the exact reason I opened this issue. So really we can probably just close this issue.

[2020-09-30 19:40] gianarb commented on #81
I will take it for now! If something shows up feel free to open a new one or this one

[2020-09-30 19:40] #81 closed

[2020-10-01 07:50] gianarb opened #312 "Multi arch container support"
Hello

Currently, we build our binaries outside a container using `go build` directly. I would like to build them inside a container for a couple of reasons:

1. We serve a docker-compose file to work locally and it uses the [build](https://docs.docker.com/compose/compose-file/#build) directive to refresh a container starting from Dockerfile. As it is today it refresh the container using the old b

[2020-10-01 08:30] thebsdbox commented on #312
I'm 💯 x 💯  in support of this, a simple `Dockerfile` like below would work:

[code]

[2020-10-01 08:36] gauravgahlot commented on #312
A definite **YES** for it. 💯

[2020-10-01 13:06] rugwirobaker commented on #312
@gianarb  can I take this on?

[2020-10-01 13:42] gianarb commented on #312
Sure @rugwirobaker !! Thank you for your help!

[2020-10-01 14:02] rugwirobaker commented on #312
@thebsdbox I haven't used this method of mounting the module cache as a volume before.

Is there an advantage over downloading them in their own stage like:
[code]

[2020-10-01 14:13] mmlb commented on #312
I'm not a fan of building inside docker actually. I've found it to be much slower to iterate on things. Admittedly using plain/vanilla/default docker build. Does buildx make it much faster/better? Do we also want to add docs to the tune of "you should really use buildx to build this"?

I'm still not sure this would be better than just doing multi-arch builds in the Makefile.

[2020-10-01 14:18] gianarb commented on #312
@mmlb Go supports cross-compilation but Docker Images needs to build in the target architecture. Buildx serves a very convenient way to pilot qemu and build Docker images for multiple architectures.

I am not commenting about "slow" because it is irrelevant for the size of this project, at least for me and I can't compare yet.

For local development it really depends on how you work, so even for t

[2020-10-01 14:20] rugwirobaker commented on #312
@mmlb in my experience the only inconvenience I have had is to re-download the  modules all over again after `docker image prune`. But after doing some research I think mounting them into a volume solves since you get to keep them until at least when you prune unused volumes.

[2020-10-01 14:31] mmlb commented on #312
A pattern we use in some internal repos is to build for GOOS=linux and GOOS= and using the GOOS=linux build COPY'd into the image. I've just taken that bit and added aarch64 too:
[code]

I'm also building freebsd and windows binaries here. I'm just a little hesitant to lump both the go binary builds and the docker image builds into the same bucket/process when we can easily do multiarch for the go

[2020-10-01 14:35] gianarb commented on #312
@mmlb if you push a Go binary cross-compiled for ARM in a Macbook Pro and you build the docker image in your laptop the image won't work on ARM to the best of my knowledge. You have to use buildx/qemu or something like that to get the docker image for the right target.

[2020-10-01 14:47] mmlb commented on #312
Wait I think I see the issue here. We *can* build the go binaries cross compiled from Mac to Linux Arm and it would work fine in docker, if we use buildx or another specific image (we do this in osie actually, where we build for both x86_64 and aarch64 on a x86_64 machine).

But the way we do it in OSIE is by messing with the `FROM` and we'd also have to mess with the `COPY`s (COPY tink-server-lin

[2020-10-01 14:48] gianarb commented on #312
Yep! (if you have a look at buildx I think you will move osie to buildx as well, it is super powerful)

[2020-10-01 14:56] mmlb commented on #312
Yep I was watching buildx for a long time to do that, but drone.packet.net was tied to a very old version of docker :/, no longer true :D.

`make run` works for that :p (and I actually will most likely PR my Makefile diff too anyway)

But I get it now whey building in the container makes sense, thanks for the info.

[2020-10-01 14:57] gianarb commented on #312
If we realize that it is not the right way I think we can rollback or do something else 👍

@rugwirobaker can't wait to try your PR!

[2020-10-01 15:51] rugwirobaker commented on #312
@mmlb @gianarb Is there a minimal requirement for go version? Would like to add an `ARG GOLANG_VERSION` so that we can specify the version at build time.

[code]

[2020-10-01 16:11] gianarb commented on #312
I think we can go with the last one. One opinion, let's keep the flexibility and input from the outside as low as possible for now so, even if the `ARG` looks convenient I think I like the idea to have a fixed one, at the end changing the image is one line change away as an extra flag :)

[2020-10-01 16:35] wangxin311 commented on #273
The issue is only seen once and just after tink deployed, and the issue is gone after redeploy, I've moved to latest tink code and all good so far, we can close the issue and reopen it if the issue seen again, thanks

[2020-10-01 16:35] #273 closed

[2020-10-02 09:12] invidian opened #316 "Support specifying hardware in YAML"
## Expected Behaviour

As templates currently accept YAML, it would be nice if hardware could also be specified in the same format. It currently works other way round, as YAML is compatible with JSON, but IMO YAML is more common format and more human readable than JSON. I find it confusing, that different subcommands operates using different formats.

## Current Behaviour

Currently `tink hardware

[2020-10-02 09:40] invidian opened #317 "grpc-server do not return error when creating bad template"
## Expected Behaviour

If one provides bad template to gRPC call to create a template, error should be returned.

## Current Behaviour

Currently no error is returned, but no template is created either.

## Steps to Reproduce (for bugs)
Add following unit test case:
[code]

It can also be reproduced with `tink` CLI:
1. Create file `bar.yaml` with content: `"foo` (intentional not closed quote)
2. R

[2020-10-02 09:49] invidian opened #318 "Open transactions after validating data"
## Expected Behaviour

As validation code do not access the database, it can be executed outside transaction to reduce transaction time.

## Current Behaviour

Currently transaction is opened before data is validated, which extends lock time on database, which increases the latency on multiple requests: https://github.com/tinkerbell/tink/blob/master/db/template.go#L17-L30.

## Possible Solution

V

[2020-10-02 13:00] JayHelton commented on #317
Hello 👋

Hacktober participant here. Tinkerbell is very interesting, and hacktoberfest is the perfect time for me to finally learn and contribute.

I would love to grab this good first issue

[2020-10-02 13:03] gianarb commented on #317
Hello @JayHelton ! That's great! please follow one of the setup guides in our documentation https://tinkerbell.org/docs/ and feel free to join our Slack community if you need any help or you have questions https://tinkerbell.org/community/

have a nice hacktoberfest and a good weekend!

[2020-10-02 14:23] invidian commented on #317
@JayHelton I think you don't need to set up Tinkerbell to resolve this issue, just in case, as the issue can be reproduced with unit tests.

However, I noticed, that the database mock has different implementation than the actual server, which might make a difference here, as right now the database implementation does the validation of the data. I'm pretty sure validation should be happening before

[2020-10-02 15:33] invidian opened #319 "Consistently name client interfaces"
## Expected Behaviour

One can easily switch between working on code around workflows and templates and naming should follow the same convention, so interface names are not surprising, following [POLA](https://en.wikipedia.org/wiki/Principle_of_least_astonishment).

## Current Behaviour

- `github.com/tinkerbell/tink/protos/workflow` has `WorkflowSvcClient`
- `github.com/tinkerbell/tink/protos/har

[2020-10-02 16:16] mmlb commented on #319
100% yes!

[2020-10-02 16:33] mmlb commented on #300
@vigneshashokan I've done one part in #315 already.

[2020-10-02 16:48] mmlb commented on #317
Hey @invidian this is only an issue in the unit tests right?

[2020-10-02 16:52] invidian commented on #317
No, as mentioned at the bottom of the issue, this can also be reproduced on the running setup. I stumbled upon it while implementing acceptance tests for https://github.com/kinvolk/terraform-provider-tinkerbell.

[2020-10-02 17:44] vbhv007 commented on #318
Hey, Can I pick this up under hacktoberfest?

[2020-10-02 18:24] mmlb commented on #317
oh I see I very much missed that. Yes the validation wasn't very strict and #315 should definitely address this.

[2020-10-02 18:26] invidian commented on #317
Hm, this actually seems like a bug, as the code for validation is there (https://github.com/tinkerbell/tink/blob/master/db/template.go#L22-L29), but the error seems to be lost somewhere. I checked `db` package unit tests and they fail properly with bad input. But not `grpc-server` package tests.

[2020-10-02 18:32] JayHelton commented on #317
Just let me know if this is actually not an issue!

[2020-10-02 18:34] mmlb commented on #317
@invidian can you reproduce off of my PR?

[2020-10-02 18:42] mmlb commented on #317
@invidian I'm getting:
[code]

[2020-10-02 18:44] invidian commented on #317
Just tested with #315 and it seems it behaves correctly. I was previously testing using `quay.io/tinkerbell/tink:sha-adb49da`, which is a default image in https://github.com/tinkerbell/sandbox.

[2020-10-02 18:47] mmlb commented on #317
oic. Yeah sandbox doesn't use master (on purpose) and I don't think its been updated to post template validation. I think we should update sandbox after my PR is merged @gianarb.

[2020-10-02 18:47] mmlb commented on #317
Closing as not a bug then

[2020-10-02 18:47] #317 closed

[2020-10-02 19:04] invidian commented on #317
Thanks and sorry I didn't check how it behaves on master branch. Bisected it so it has indeed been fixed in 845cc32b377e730c4f8b9891450444bab003fef5, cool!

[2020-10-02 20:05] mmlb commented on #317
:+1: np at all.

[2020-10-05 15:28] charlottemach opened #320 "Docker-compose fails to build services"
## Expected Behaviour
When running `docker-compose up -d` on a fresh install, the images should be built and started.

## Current Behaviour

Following error occurs:
[code]

## Possible Solution

1. Add how-to build services locally to setup guide (as /cmd/tink-server/tink-server etc are not existing after a fresh setup and are in the .gitignore)
or
2. Change the docker-compose.yml file back (think

[2020-10-06 07:52] gianarb commented on #320
Hello @charlottemach !

I know what it is, I am trying to figure out a good way to develop locally but there is so much going on that I get lost time to time.

So this issue is related to #312 somehow. We build the binaries externally from Docker but we use docker-compose to get a fresh image. Can you try a thing for me.

Can you revert to `master` (the version that it does not work for you) and f

[2020-10-06 10:05] charlottemach commented on #320
I hadn't noticed the setup instructions changed to the sandbox repo, thanks @gianarb!
I don't have go on that machine, I'll just switch to the other repo.

[2020-10-06 10:05] #320 closed

[2020-10-06 17:12] mmlb opened #321 "Implement Workflow Services"
Implementation of https://github.com/tinkerbell/proposals/tree/master/proposals/0014

## Expected Behaviour

Services key in workflow is understood/allowed and will be used by `tink-server` to run containers in the background, cleaning them up when the workflow is ended.

[2020-10-06 17:13] mmlb commented on #321
Not starting just yet, happy to shepherd if someone wants to take over.

[2020-10-08 22:48] invidian opened #324 "tink GRPC client panics on bad TINKERBELL_CERT_URL"
## Expected Behaviour

Tink should gracefully return error if it's not able to initialize the client.

## Current Behaviour

Tink panics on bad `TINKERBELL_CERT_URL` environment variable.

## Steps to Reproduce (for bugs)

With CLI on latest master (a6863366fb814600f83c38146e27d7d2708a8bdf):
[code]

With unit tests:
[code]

Notice `TINKERBELL_CERT_URL` using `ceert` instead of correct `cert`, whic

[2020-10-08 22:50] invidian opened #325 "Allow clients to pass cert URL and grpc authority directly rather than through environment variables"
Clients like https://github.com/kinvolk/terraform-provider-tinkerbell currently has to read those values from the user and set the environment variables programatically, as they cannot be passed directly to the client.

[2020-10-08 22:50] invidian commented on #228
Isn't this done in https://github.com/tinkerbell/tink/pull/289 ?

[2020-10-09 07:20] gianarb commented on #228
Yep thanks

[2020-10-09 07:20] #228 closed

[2020-10-09 12:11] thebsdbox opened #326 "Sample workflow - Debian"
## Expected Behaviour

A re-usable workflow that will deploy a version(s) of Debian

## Current Behaviour

We need to create more usable workflow examples that the community can start to use.

## Possible Solution

it could well be that we can work with @fransvanberckel and his workflow https://github.com/fransvanberckel/debian-workflow

## Context

The initial goal is to create a library of workf

[2020-10-09 12:11] thebsdbox opened #327 "Sample workflow - RedHat"
## Expected Behaviour

A re-usable workflow that will deploy a version(s) of RedHat Enterprise Linux

## Current Behaviour

We need to create more usable workflow examples that the community can start to use.

## Possible Solution

it could well be that we can work with @fransvanberckel and his workflow https://github.com/fransvanberckel/debian-workflow

## Context

The initial goal is to create a

[2020-10-09 12:14] thebsdbox opened #328 "Sample workflow - CentOS"
## Expected Behaviour

A re-usable workflow that will deploy a version(s) of CentOS

## Current Behaviour

We need to create more usable workflow examples that the community can start to use.

## Possible Solution

it could well be that we can work with @fransvanberckel and his workflow https://github.com/fransvanberckel/debian-workflow

## Context

The initial goal is to create a library of workf

[2020-10-09 12:15] thebsdbox opened #329 "Sample workflow - Secure System Wipe"
## Expected Behaviour

A re-usable workflow that will perform a secure system wipe

## Current Behaviour

We need to create more usable workflow examples that the community can start to use.

## Possible Solution

Modifying the hello-world example to perform the required steps to wipe underlying disks?

## Context

The initial goal is to create a library of workflows within tinkerbell/workflows..

[2020-10-09 12:18] thebsdbox opened #330 "Sample workflow - Simple information gather"
## Expected Behaviour

A re-usable workflow that will examine a system and grab some simple information details from the hardware, as an additional next step this data could be POST'ed to a simple web server as an example of getting hardware information.

## Current Behaviour

We need to create more usable workflow examples that the community can start to use.

## Possible Solution

Modifying the

[2020-10-09 12:22] thebsdbox opened #331 "Workflow Documentation - Writing your own workflows"
## Expected Behaviour

Documentation that details:
- Setting up a development environment for workflows
- The tooling and technologies required
- An overview into how a workflow is executed
- Details and simple steps into writing your own custom workflows
- Testing a workflow

## Current Behaviour

We currently have minimal documentation around writing your own workflows including that doesn't hel

[2020-10-09 12:23] thebsdbox opened #332 "Workflow Documentation - Workflow best practices"
## Expected Behaviour

Documentation that details:
- How to create an efficient workflow
- Pitfalls to be aware of
- Improved methods for debugging a workflow

## Current Behaviour

We currently have minimal documentation around writing your own workflows including that doesn't help an end-users writing their own.

## Possible Solution

## Context

The initial goal is to create a library of workfl

[2020-10-09 12:30] thebsdbox opened #333 "Hardware Documentation - customising hardware spec"
## Expected Behaviour

Documentation that details:
- Modifying hardware JSON `spec` to pass additional kernel flags
- Passing a custom `kernel` or `initrd`
- What is the usage of various parts of the JSON specification

## Current Behaviour

We currently have minimal documentation around the hardware specification and what it all means to an end user.

## Possible Solution

## Context

The current

[2020-10-09 12:39] thebsdbox opened #334 "Tink CLI - create sample configuration"
## Expected Behaviour

The `cli` provides the capability to generate sample output that an end user can easily take as a starting point to modifying and customise to their own needs.

In Kubernetes an end user can accomplish something similar with the `--dry-run` flag that will create output instead of applying or creating a configuration.
[code]

An *additional* benefit is that this would always

[2020-10-09 13:23] detiber commented on #335
Moved this issue to the tink repository for now, I expect we might want a separate repository for helm charts, but we can cross that bridge when we get there.

[2020-10-10 14:02] invidian opened #336 "printed Tink CLI errors do not end with newline which produces annoying output"
## Expected Behaviour

Printed errors from CLI tools should end with newline.

## Current Behaviour

Currently printed errors end without newline, which makes them difficult to read.

Example:
[code]

## Your Environment

* tink-cli version: a6863366fb814600f83c38146e27d7d2708a8bdf

[2020-10-10 16:50] #336 closed

[2020-10-10 21:54] invidian opened #338 "rpc error: code = Unknown desc = COMMIT: pq: could not serialize access due to read/write dependencies among transactions"
## Expected Behaviour
Tink server should be capable of handling requests in paralell.

## Current Behaviour

Currently, when one applies multiple requests to tink server in parallel, server sometimes returns the following error:
[code]

## Steps to Reproduce (for bugs)

Currently, this is sometimes reproducible when using https://github.com/kinvolk/terraform-provider-tinkerbell and when running `t

[2020-10-12 13:04] invidian commented on #338
BTW, in some cases, like https://github.com/tinkerbell/tink/blob/34275668af5eede0475dae8f3aa6d75fe0cf0618/db/template.go#L17-L45, transaction is not even needed, as there is only a single query being made, which is already ensured to be atomic by the database itself, according to https://stackoverflow.com/a/1171807/2974814, unless I'm missing something.

[2020-10-13 14:41] kdeng3849 commented on #338
@mmlb yeah, that's exactly it

[2020-10-13 17:49] mmlb commented on #292
Closing as not a bug. This is a missing docs bug and I've opened up tinkerbell/tinkerbell-docs#21 to address there.

[2020-10-13 17:49] #292 closed

[2020-10-14 07:18] parauliya opened #339 "Move Tink from docker Action v1 to docker Action v2 in Github Action"
Right now GH Actions in tink uses docker action v1 and we have to move it to docker action v2.

## Expected Behaviour
GH action will run using docker action v2

## Current Behaviour
GH action runs with docker action v1

## Possible Solution
modify the GH workflow

[2020-10-15 05:54] #339 closed

[2020-10-19 15:53] displague opened #344 "Hardware profile assertion checks"
## Expected Behaviour

In Tinkerbell, workflows are scheduled to specific hardware.  That hardware should be guaranteed.

## Current Behaviour

If the hardware memory, cpu, or networking profile of the physical (or virtual) device does not match the expectations defined in Tinkerbell, the workflows may fail in unpredictable ways late in the process.

## Possible Solution

Within OSIE or within an

[2020-10-20 14:08] mmlb commented on #319
Thanks @invidian take a look at #345 which addresses this along with other protobuf related warts I encountered.

[2020-10-20 20:56] mmlb commented on #344
@displague there's some code lying around in OSIE that does this for disks, but its just a warning atm. This hasn't been fleshed out because we didn't really have confidence in the underlying data stored in the DB. Its poor form to fail a provision because hw data doesn't match reality but would have succeeded if continued.

@mikemrm is about done working on a "discovery os" as a non-workflow OSIE

[2020-10-20 21:46] displague commented on #344
@mmlb, I think you would have more experience with the contexts I provided.  Do you think those are valid concerns?
From what I have witnessed, users can go hours to days with misconfigured hardware and be left to wonder why software isn't working.  In the meanwhile, if they are leasing this hardware, they are not getting what they paid for.

[2020-10-26 14:45] mmlb opened #350 "Go fmt output isn't checked in CI"
Badly formatted PRs are being merged, because the workflow action doesn't actually cause an error and thus fail the check.

## Expected Behaviour

Files that don't pass through `go fmt` will trigger a CI failure

## Current Behaviour

The bad files are only listed to `stdout`, but the tests continue.

## Possible Solution

Make `go fmt` write the output and have git enforce no changes.

## Context

[2020-10-26 21:22] #350 closed

[2020-10-27 15:53] kdeng3849 opened #352 "Ability to query and filter template by name"
## Expected Behaviour

Users should be able to query and filter template by name.

The name of a template is user-defined and is the only thing a user can use (at the moment) to describe the template being stored. However, it means very little when a user cannot actually select templates using the name.
For example, if a user has the templates `ubuntu`, `windows`, and `hello-world`, the only way t

[2020-10-27 17:44] #319 closed

[2020-10-29 13:31] invidian commented on #79
Official Terraform provider is now available: https://github.com/tinkerbell/terraform-provider-tinkerbell. Closing :tada:

[2020-10-29 13:31] #79 closed

[2020-11-04 20:00] #352 closed

[2020-11-06 17:41] #312 closed

[2020-11-06 17:42] gianarb commented on #312
This is done: hegel, tink-server, tink-cli, tink-worker, boots are not built with buildx on multiple platforms

[2020-11-07 06:04] displague opened #359 "Metadata (protos/packet) should be typed in Hardware"
## Expected Behaviour

Metadata is typed within the Hardware type used by the Hardware client.

[code]

## Current Behaviour

Metadata is a string within the Hardware type used by the Hardware client.

[code]

As a Tinkerbell client implementor, creating a Hardware object, it is unexpected that the client interface should require a string interpretation of the `Metadata` type from the `protos/pack

[2020-11-07 06:12] displague commented on #359
/cc @invidian (for Terraform provider relevance)

[2020-11-07 06:25] displague commented on #359
Is `metadata` intentionally a string to stay unbiased about the metadata format?
Shouldn't Tinkerbell have a bias on the metadata format (a bias to follow hegel)?

This would be helpful for adding `cloud-init` support for the Tinkerbell metadata service.

[2020-11-11 22:50] kdeng3849 opened #363 "Creating a template sharing the same name as a deleted template causes an error"
## Expected Behaviour

Templates can be successfully created even when it shares the same name as a deleted template.

## Current Behaviour

Due to the fact that templates are soft deleted and the recent change of name also being a unique field, creating a template sharing the same name as a deleted template returns this error:
[code]

## Possible Solution

## Steps to Reproduce (for bugs)

1. cre

[2020-11-12 17:31] displague commented on #226
#364 offers charts that may check some of the boxes on this issue.

[2020-11-12 19:49] detiber commented on #226
I created https://github.com/tinkerbell/k8s-sandbox as a place that we could use for Kubernetes related work.

[2020-11-16 23:44] mmlb opened #367 "deploy/docker-compose.yml should be usable w/o setup.sh"
I like testing things on my laptop using docker-compose.yml. It's not easy to do so at the moment. I need to setup some env vars and generate certificates which is all orchestrated via setup.sh. I do not want to run setup.sh on my laptop as that tries to mess with certs and who know what else globally (I didn't check).

## Expected Behaviour

`cd deploy; docker-compose up --build -d` should get me

[2020-11-16 23:55] mmlb opened #368 "Lets go back to building binaries outside of Docker"
As stated in #367 I like to build and run the services using docker-compose on my dev machine. Doing any small change to any of the services causes a rebuild of the binary in docker. This is generally slower than just building and COPYing during build but its made worse because the dependencies need to be downloaded each and every time.

## Context

My edit-build-test cycle takes longer than neces

[2020-11-17 10:24] gianarb commented on #367
Can we remove docker-compose at all and use just binaries?

[2020-11-17 10:27] gianarb commented on #368
sandbox will copy binaries from the containers across all the architectures to release them as artifacts side to a GitHub release. So just remember to keep the binaris where they are in `/usr/bin` so the automation won't break or require changes 👍

[2020-11-18 11:00] #318 closed

[2020-11-18 12:52] invidian commented on #226
See also https://github.com/tinkerbell/tink/issues/335

[2020-11-20 08:16] parauliya commented on #363
@kdeng3849 @gianarb ,
The reason behind doing a soft delete for template was to keep the workflow and whenever user wants to do a `workflow get <workflow_id>`  it should get the workflow. But this is not happening right now as we are getting error while getting the workflow after deletion of it's template. And this is what we need to fix first.

Also regarding issue where user is not able to creat

[2020-11-20 16:58] mattcburns commented on #363
So is there no way to permanently delete a workflow? It seems weird to me as a user that if I delete something it still hangs around.

[2020-12-03 21:38] caniszczyk opened #373 "Create a SECURITY.md security disclosure policy"

[2020-12-03 21:38] caniszczyk opened #374 "Get a passing CII Best Practices Badge"
https://bestpractices.coreinfrastructure.org/en

[2020-12-04 23:07] mmlb opened #376 "tink-cli does not error on unknown arguments"
I just ran `tink-cli template create -name manny...` and could not find my template in the `list` output. After lots of confusion I finally noticed one named `ame` and :boom: I figured it out.

## Expected Behaviour

tink-cli should have complained about the unused `manny` argument and exited with an error.

[2020-12-04 23:11] mmlb opened #377 "tink-cli should parse template name from the template itself"
Why do we have a template name cli arg when `name` is a require template field? `tink-cli` should use the name in the template. Doing otherwise can lead to lots of confusion.

[2020-12-07 15:29] #363 closed

[2020-12-07 18:47] #294 closed

[2020-12-10 09:43] invidian opened #379 "duplicate key value violates unique constraint "events_pkey" error while creating multiple workflows"
## Expected Behaviour
Workflows can be created in parallel without errors.

## Current Behaviour
Sometimes, when many workloads are created in parallel, following error is returned:
[code]

Logs from server:
[code]
## Possible Solution

Perhaps server should retry the write when this occurs. This is very similar to #338

## Steps to Reproduce (for bugs)

1. `git clone https://github.com/kinvolk/te

[2020-12-10 10:20] invidian opened #380 "Migration required running latest Docker image with latest SQL file"
## Expected Behaviour

Tink-server should not print the following log when running latest Docker image with latest DB schema:
[code]

## Current Behaviour

Tink-server prints log message above.

## Steps to Reproduce (for bugs)

1. Run https://github.com/tinkerbell/sandbox with image tag `sha-9c52cca5` and respective SQL file: https://github.com/tinkerbell/tink/blob/9c52cca/deploy/db/tinkerbell-in

[2020-12-10 10:22] invidian commented on #380
Oh, it seems this causes issues with watching events:
[code]

[2020-12-10 10:25] invidian opened #381 ""tink workflow state" does not return error when workflow UUID can't be found"
## Expected Behaviour
Running `tink workflow state $(uuidgen)` should always return error.

## Current Behaviour

Running the command above exits with 0:
[code]

## Possible Solution

Add validation.

## Steps to Reproduce (for bugs)

1. `tink workflow state $(uuidgen)`
2.
3.
4.

## Context

Tinkerbell version: 9c52cca562bcb70c89228db41ed25a0ef6ca5f52

[2020-12-10 10:29] invidian opened #382 "Worker tries to execute the workflow even if pulling image from registry fails"
## Expected Behaviour

Workflow execution should stop if image can be pulled.

## Current Behaviour

Even if pulling image from registry fails, worker still tries to execute the workflow and then complains that the image cannot be found.

## Possible Solution

Make sure pulling errors are handled properly.

## Steps to Reproduce (for bugs)

1. Create a worker machine with 4GB of RAM to make `tmpfs

[2020-12-10 11:47] thebsdbox commented on #368
I think this can be closed now @gianarb ?

[2020-12-10 11:48] thebsdbox commented on #338
@kdeng3849 what is the status of this?

[2020-12-10 11:50] thebsdbox commented on #373
Does this sounds like something that would be part of the Uniform standards @rainleander or just something ad hoc that we need to take care of @gianarb ?

[2020-12-10 11:53] thebsdbox commented on #380
This looks like it impacts the events @gauravgahlot ?

[2020-12-10 11:53] thebsdbox commented on #379
This also looks related to events @gauravgahlot ?

[2020-12-10 12:18] gauravgahlot commented on #379
Not directly, but yes it does. The reason being, we do not insert into the events table from the server. All event entries are pushed from the triggers execute at the DB layer. That being said, this surely needs to be fixed at the root level.

[2020-12-10 12:23] invidian commented on #379
This sounds like an architecture issue to me. This means event entries cannot be tested without a database for example.

[2020-12-10 13:26] gianarb commented on #380
I think there is some misuderstanding here

https://github.com/tinkerbell/tink/blob/9c52cca/deploy/db/tinkerbell-init.sql

This file should not be used

[2020-12-10 13:38] gianarb commented on #379
Can you elaborate? You can mock almost everything

[2020-12-10 13:43] gianarb commented on #380
https://github.com/tinkerbell/sandbox/pull/30

This PR should make it cristal clear how the process is.

https://github.com/tinkerbell/sandbox/pull/30

And watching the logs from the tink server, migration is not required when the server is up to date.

[2020-12-10 13:53] invidian commented on #379
I didn't look much at the code, so please correct me if I'm wrong, but as far as I see, events are created here: https://github.com/tinkerbell/tink/blob/9c52cca562bcb70c89228db41ed25a0ef6ca5f52/db/migration/202010071530-init-events-table-and-triggers.go#L50

This means, without a database engine running, you cannot verify, that events are being created on certain operations.

In most of the cases,

[2020-12-10 13:57] gianarb commented on #379
I think @mmlb has opinions about what should be used in the database, I am not an expert.

Anyway, your concern was about mocking and I am not sure I understand it, what can't you properly test? The event fire can be mocked from my understanding

[2020-12-10 14:22] invidian commented on #380
Thanks again for your help @gianarb, you pointed me to the right direction.

I was working on https://github.com/tinkerbell/terraform-provider-tinkerbell/pull/20 and I following changes to the sandbox repo: https://github.com/tinkerbell/terraform-provider-tinkerbell/pull/20/commits/c0a3f5f732482d384664062b671a76aa25a48ad2

After this, everything looks good again! Will close then.

[2020-12-10 14:22] #380 closed

[2020-12-10 14:25] gianarb commented on #376
I can't reproduce this issue:

[code]

It appears to recognize unknown flags
[code]
I saw there are more specific issues about flags, for now I am closing this one

[2020-12-10 14:25] #376 closed

[2020-12-10 14:29] invidian commented on #379
Right. But then still your SQL procedure might be different than your mock.

But I think this is out of scope for this issue.

[2020-12-10 14:31] gianarb commented on #381
@thebsdbox I removed the bug label because looking at the code, it is written with that behavior in mind. I don't have enough context to know why, but first, we have to figure out if this is a feature or a bug

[2020-12-10 14:32] gianarb commented on #377
@parauliya can you tell us how you want to fix this issue first?
Thanks

[2020-12-10 14:34] gianarb commented on #359
@mmlb is it part of the proposal you raised around instance? Can you help us to figure how if @displague has a reasonable request or if it is like it is for good reasons?

[2020-12-10 14:35] parauliya commented on #377
Sure @gianarb .
I am thinking of removing the requirement of `name` from the `tink template create` command and for the database I will take that field from the template data.
What do you think

[2020-12-10 14:39] gianarb commented on #377
I think it is created and if other commands have the same issue, please remove the flag as well!

[2020-12-10 18:45] gianarb commented on #373
I presume as an independent project Tinkerbell will have its own destination, maybe security@tinkerbell.org with a couple of maintainers listening to it. @rainleander will have to tell us if she wants to include the proposed workflow or an equivalent to its Uniform standards or not 👍

[2020-12-11 09:53] rainleander commented on #373
While security is important to me personally, we didn't feel that it was something we could require of all maintained / experimental repositories; so, no, it's not required for Uniform Standards.

It IS a great idea.

But that's up to the community to decide whether it's right for the project / app / Tinkerbell.

[2020-12-11 15:17] mmlb opened #389 "Remove facilty params/concept from all of tinkerbell"
Facility concept is very EM specific and as such should be removed. I'm pretty sure we don't need it as any current use of it would be better served with explicit URLs instead of plugging facility into a hard code string "template".

[2020-12-11 16:06] kdeng3849 commented on #338
It has been fixed with this PR: https://github.com/tinkerbell/tink/pull/346

[2020-12-14 08:33] #374 closed

[2020-12-14 14:02] invidian opened #391 "Listing workflows by hardware without any workflows returns GRPC error"
## Expected Behaviour
When listing workflows by hardware, which do not have any workflows assigned, empty list of workflows should be returned.

## Current Behaviour
Currently server logs the following error and returns error to the client, when given hardware ID does not have any associated workflows:
[code]

[code]

## Steps to Reproduce (for bugs)

1. `go mod init foo`
2. Create file called `ma

[2020-12-15 12:41] invidian commented on #379
Ah, edited reproducing steps, as this only occurs when latest version of Tinkerbell is used, so please checkout tinkerbell/terraform-provider-tinkerbell@71d569b946b6b93ecef12c39b29df997c233fd37 while testing.

[2020-12-15 12:47] invidian commented on #338
Ah, BTW, this was also occurring for other resources, not only for workflows. I'll test if that's still the case.

[2020-12-15 12:56] invidian commented on #338
This still occurs when workflows are removed:
[code]

Running Tinkerbell 266637ae. Can we please re-open?

[2020-12-15 13:00] invidian commented on #338
Creating/deleting Hardware entries and Templates seems OK.

[2020-12-15 13:17] gianarb commented on #379
Ok thanks! I changed the priority to P1 because we have to figure out what is going before we release a new version of Sandbox. @gauravgahlot can you have a look, please?

[2020-12-15 13:21] gauravgahlot commented on #379
Yeah already. In conversation with @invidian for the same.

[2020-12-15 16:55] invidian opened #394 ""tink template list" output unreadable when passing large amount of data to workflow"
## Expected Behaviour
`tink template list` stays readable after executing the following command:
[code]

## Current Behaviour

Currently after executing the command above looks like this:
[code]

Which makes it completely unreadable.

## Possible Solution

Maybe we could set max size of a column and have a separate command to get full workflow hardware?

## Steps to Reproduce (for bugs)

1. Create

[2020-12-16 13:58] invidian opened #396 "Events are not cleaned up when workflow is removed"
## Expected Behaviour
Events associated with a workflow should be removed when workflow itself is removed.

## Current Behaviour
`tink workflow events` returns events for workflows, which are not listed by `tink workflow list`.
## Possible Solution
Remove workflow and all associated events inside single transaction to ensure everything is cleaned up.

## Steps to Reproduce (for bugs)

1. Run sampl

[2020-12-16 14:00] gianarb commented on #396
That's not a concern I have, there is (or if there is not we will have one) a GC cleaning up old events no matters if the workflow is still there or not (they have a TTL almost like the Kubernetes one)

[2020-12-16 14:02] invidian commented on #396
Would it make sense to hide events for work flows which had been removed maybe? I was surprised that I removed the workflow and I was still able to find events for it.

[2020-12-16 14:04] gianarb commented on #396
I better understand your perspective here. Now that you know how it works and that there is a TTL attached to the events do you feel confused? Because I prefer to solve this by documenting the event lifecycle more than adding more code

[2020-12-16 14:13] invidian commented on #396
The TTL is time based?

Generally speaking, if this is like this _by design_, then yeah, having it documented would be great and enough for me :+1:

[2020-12-16 14:22] gianarb commented on #396
Yes the TTL is time-based and it can be changed in tink-server with an env var, you can find more about this in the actual proposal. https://github.com/tinkerbell/proposals/blob/master/proposals/0012/README.md

Documentation for events is ongoing (I am writing it, so I will be sure to include this conversation!)

[2020-12-16 21:55] mmlb opened #399 "One workflow at a time?"
tink allows multiple workflows to be allocated to a worker at a time. There's no technical reason why this isn't fine, but it seems to me that its probably a user mistake? Every time I've come across this I would have rather that tink let me know that a workflow was already in progress, which I would then have terminated.

If we decide not to treat it as an error should we instead give feedback th

[2020-12-18 14:08] Cbkhare opened #400 "Worker VM fails to boot"
worker VM fails to boot

## Expected Behaviour
- worker VM should boot
- workflow assigned to the worker should be executed

## Current Behaviour
- worker doesn't boot
- ipxe request is not reaching to the boots container.

## Steps to Reproduce (for bugs)
1. Create a vagrant setup
2. Create a workflow
3. start worker

## Your Environment
- Ubuntu

* How are you running Tinkerbell? Using Vagrant &

[2020-12-18 14:09] Cbkhare commented on #400
![Uploading Screenshot from 2020-12-18 19-31-12.png…]()

[2020-12-18 14:17] #379 closed

[2020-12-21 11:52] gianarb commented on #399
How does it work today? if a second (B) workflow is created when the first (A) is ongoing the worker will end (A) and work pick up (B) or they will work side by side?

I suppose one at a time. If so your question is: Do we want to return an error in this scenario preventing (B) to be created if the worker is busy doing something else?

I think queuing can be comfortable but it also adds more compl

[2020-12-21 13:38] gianarb commented on #338
@invidian asked me to re-open, so I think it is not a fixed issue yet

[2020-12-23 11:03] Cbkhare commented on #400
issue resolve after updating the VirtualBox to the older version. Problem is probably around focal release of Ubuntu.

[2020-12-24 06:43] gauravgahlot commented on #201
Since we have the [CONTRIBUTING.md](https://github.com/tinkerbell/tink/blob/master/CONTRIBUTING.md) in place, I'm closing this issue.

[2020-12-24 06:43] #201 closed

[2020-12-24 10:22] gianarb opened #403 "Consistent user experience across tink-cli list command -q"
https://github.com/tinkerbell/tink/pull/402

@gauravgahlot I think changes in user experience should be discussed together first, and second, we have to try to be as consistent as possible in the CLI. (we are pretty bad with that)

Can you add the same change you made here for the other resources?

Thanks

[2020-12-24 10:34] gauravgahlot commented on #403
Apologies, I should have submitted a proposal first. I'm already in progress to make it consistent across the CLI.

[2020-12-24 10:37] gianarb commented on #403
Well, no need for a proposal for that :) but just an issue is fine or even a PR with a bit more time to handle that, anyway, overall the feature is good and needed so thank you for that! We just have to port it to all the other commands so people will have a more friendly experience using the CLI

[2020-12-24 13:10] gianarb commented on #389
I had quick look at it and this is a bc break I think, the cert endpoint will break because it requires a facility for example.

So, how do we want to proceed? bc break?

@mmlb

[2020-12-28 08:59] #403 closed

[2020-12-28 13:07] gianarb opened #405 "Tink CLI current state and the future is called consistency"
Hello

The CLI is important because it is the entry point many people will use to onboard Tinkerbell. If the CLI is not great, they will even stop using Tinkerbell. Or at least that's how I approach an ecosystem where there is a new cool project to use every day.

# Consistency

I vote tink CLI with a 3 out of 10 currently. There is very low consistency in what you can do with a resource (template

[2020-12-29 05:34] gauravgahlot commented on #405
This is a much-needed one. The new structure reminds me of Docker CLI which is a great experience in itself.
Let's get the changes rolling. 🚀

[2020-12-29 07:40] gianarb commented on #405
@gauravgahlot it is also how kubectl works. Nothing new, just a good and validated pattern.

[2020-12-29 08:41] Cbkhare commented on #400
worker vm boot up is failing only for vagrant setup.

[2021-01-04 14:48] gianarb commented on #400
It is has to be fixed I suppose right?

[2021-01-04 15:02] Cbkhare commented on #400
There was a networking issue on my setup.

[2021-01-04 15:03] #400 closed

[2021-01-11 20:07] invidian opened #413 "Can't create workflow with template bigger than 8000 characters"
It seems workflow/template combination cannot be bigger than 8000 characters due to use of `pg_notify`.

## Expected Behaviour

Workflow with template bigger than 8000 characters can be created.

## Current Behaviour

Tink returns the following error:
[code]

## Possible Solution

Probably don't use `pg_notify` (as partially suggested in https://github.com/tinkerbell/tink/issues/379#issuecomment-7

[2021-01-11 23:39] invidian commented on #413
Hmm, it seems once hit, I'm not able to remove old templates either :/

[2021-01-12 08:14] gianarb commented on #413
I still regret the decision of using triggers

[2021-01-12 08:50] benr commented on #329
Refer to the OSIE implementation: https://github.com/tinkerbell/osie/blob/688b5371b223d780e421614c800d1b22b9df8aef/docker/scripts/wipe.sh

[2021-01-12 12:52] gianarb opened #414 "Create a testsuite for migration"
https://github.com/tinkerbell/tink/pull/383#issuecomment-748398976

![Screenshot 2021-01-12 at 13 50 36](https://user-images.githubusercontent.com/1630267/104316696-275f6180-54dd-11eb-9dc1-7a12f92b2646.png)

Those are two reports caused by a not that defined workflow around migration. We have to improve safeguards and migration validation, even via testcontainers if needed and with static checks.

[2021-01-12 15:20] invidian commented on #413
What I experienced it is I tried creating big workflow, then it blocked removing other templates for some reason.

[2021-01-12 20:19] invidian opened #415 "Evaluating template in workflow replaced << with &lt;<"
## Expected Behaviour
Workflow properly renders template without replacing any characters.

## Current Behaviour

When template includes sequence like `<<`, it gets replaced into `&lt;<.

## Possible Solution

Use `text/template` instead of `html/template` when rendering workflows.

## Steps to Reproduce (for bugs)

Unit test to reproduce:
[code]

## Context
https://twitter.com/_invidian/status/13

[2021-01-12 20:22] gianarb commented on #415
I agree with John Arundel https://twitter.com/bitfield/status/1339506837230632960 is not a bug it is a security-conscious decision.

I am joking thank you for opening this issue

[2021-01-12 20:27] mmlb commented on #413
:( I was not aware of that limitation of pg_notify, it seems we'll need to drop that then.

[2021-01-12 20:32] invidian commented on #415
Added sample unit test to reproduce. Perhaps one in the code could be more comprehensive.

[2021-01-15 12:28] gianarb commented on #413
I would like to drop a 💣 . This looks like the right time.

I asked @gauravgahlot to help me with this issue. I realized that triggers are not that bad, but we have a problem with the overall concept of the template I think. Or at least, the way we implemented them is too simple. Let me explain, later you will understand the connection with this issue.

First, Kubernetes relays on ETCD watchers th

[2021-01-15 12:36] invidian commented on #413
@gianarb from user perspective, the Templates concept could remain the same, right? Just template update implementation would have to change I think. The workflow then will have a reference to specific template revision, which will be used when you run e.g. `workflow get`.

Also when you delete the template, you can remove all revisions which do not have any references. The same trigger could occu

[2021-01-15 12:50] gianarb commented on #413
Yes the UX is the same. The user won't notice. If we implement revision we can come with some sort of extended UX to be able to review and jump from a revision to another.

About the cleanup:

1. Revisions are immutable, you can' remove them. We can probably implement some TTL if needed
2. Revision gets delete if you remove a template
3. I think you should not be able to remove a template if there

[2021-01-15 14:27] #415 closed

[2021-01-20 19:20] mmlb commented on #399
Nope they work as you'd expect. First (A) continues until it's done, and then (B) starts and does its thing.

That workflow *should* timeout before then :D. But yes I think its really only open for confusion. Either the worker is available or its busy with a workflow for now please try again.

[2021-01-20 19:27] mmlb commented on #413
@gianarb I think the overall idea makes sense. I don't know if we need to deal with template revisions at all though. I do quite like idea of a template is immutable, I was likely to propose this at some point. If you want to update a template... just create a new one instead. It makes things easier to understand. Workflows are tied to templates, you can't do anything to a template that would affe

[2021-01-20 22:58] jacobweinstock opened #417 "Update new contributor experience"
Getting started with the Tinkerbell stack and through this Tink repo the local development path, for me, had a few hurdles.

- I found it difficult to understand and spin up Tink without diving deep into the code.
- I haven't been able to generate TLS certificates locally using the scripts found in this repo. They were all very coupled to vagrant with virtualbox.
- There were a lot of environment

[2021-01-21 08:36] stolsma commented on #413
@gianarb if this is what you are proposing:
![tb_trigger](https://user-images.githubusercontent.com/474182/105323034-f2809800-5bc9-11eb-97d9-f25e722b1d0a.png)

Then I like it! ;-) Immutability for WorkflowTemplates is needed! Maybe we can do the same with the Hardware table (change traceability would be nice there too), split data from definition as I think there could happen the same problem if m

[2021-01-21 09:13] gianarb commented on #413
yep right @mmlb .

This is too simple. We give the possibility to use to specify template name and one of the thread off is that they will have to delete and re-create a new template if they want to keep the same name. If we want to keep a friendly name for a template we need to put revision place. The complexity we want to expose to users: rollback for example is on us. We can start with just GET

[2021-01-21 10:35] gianarb commented on #399
I like to avoid that. So yep, I think we can return some error that the client can interpret as "resource busy.. retry..."

[2021-01-21 15:36] #377 closed

[2021-01-21 15:50] mmlb commented on #367
Related to #418

[2021-01-21 15:53] mmlb commented on #368
@thebsdbox nope I don't think so, the binaries *for the containers* are still only built in the Dockerfile. I'll likely take inspiration from https://github.com/tinkerbell/boots/pull/122 to do this.

[2021-01-21 15:54] mmlb commented on #368
Also, I'm starting on this now :D.

[2021-01-21 15:58] gianarb commented on #368
Yayyyy thanks @mmlb

[2021-01-22 15:44] #368 closed

[2021-01-22 20:43] mmlb commented on #86
@Ottovsky, now that https://github.com/tinkerbell/tink/pull/419 landed you can compile the tink-worker binary either with `make crosscompile` or for your exact case:
[code]

[2021-01-22 20:43] #86 closed

[2021-01-26 15:03] gianarb commented on #405
I don't think there is much more to say here. #406 is merged and I hope it will set the stage for something good.

[2021-01-26 15:03] #405 closed

[2021-01-27 09:14] gianarb commented on #74
We decided to release the only sandbox for now because this is a too fast-moving project at this stage and the responsibility is not totally split. It means that it is very hard to tag all the projects by themself.

I will close this issue for now and have a look at https://github.com/tinkerbell/sandbox/releases if you want a pinned version and binaries as well!

[2021-01-27 09:14] #74 closed

[2021-01-27 09:16] gianarb commented on #73
We decided to release not every single project for now, but the entire stack, at the end the services are strictly connected and the project evolves quickly at this stage, it is very time-consuming to look at each project in isolation.

Binaryies are here: https://github.com/tinkerbell/sandbox/releases

I will close this issue for now because it won't be implemented soon

[2021-01-27 09:16] #73 closed

[2021-01-27 09:31] gianarb opened #425 "Reimplement a common delete tink-cli command"
Same as we did for the get command #406 another one that we can migrate is the `delete` one.

Requirements:

1. Deprecate the current one with the right Cobra.Command flag as we did for the `get` command and use the same environment variable (if I remember well TINK_CLI_VERSION=0.0.0 to fall back to the old command)
2.  The Delete command should be only one inside a new `cmd/tink-cli/command/delet

[2021-01-27 12:05] gianarb opened #426 "Implement tink-cli describe command"
As part of #425 #406, we would like to have a `describe` command.

Similar requirements as #425

1.  The Describe command should be only one inside a new `cmd/tink-cli/command/describe` package and it should follow the same structure we have for `get`, and I mean `Options` if necessary for example
2. Tests, tests, tests

## Use case

The `get` command can be used to quickly discover resources but

[2021-01-27 12:19] mazzy89 commented on #426
I'm going to grab and work on this.

[2021-01-29 18:28] Cbkhare commented on #328
Pr for the issue: https://github.com/tinkerbell/workflows/pull/5

[2021-02-01 21:21] #219 closed

[2021-02-03 10:42] gianarb opened #432 "Let's talk about TLS"
Hey!

As you know today we do gRPC over TLS. In general, I don't know what to expect. @mmlb proposed to remove it until we figure something out and I started doing it until I stopped because I think I want to know more first.

My expectation for TLS is to be able to use it as a way to identify a user and to be able to figure out in the future what that user can do. Almost like a service account fo

[2021-02-03 19:00] nicklasfrahm commented on #432
I think removing it for now makes sense. TLS can then be outsourced to a reverse proxy as you said.

As for authentication and authorization, maybe JSON Web Tokens could be used. They allow for fine grained access control and don't require TLS. I don't know how they integrate with gRPC though. Using JWTs would also give the advantage of decoupling TLS from authentication and authorization.

[2021-02-03 21:39] gianarb commented on #432
When it comes to TCP having a layer of encryption is a good practice no
matter what authentication techniques you use.
In Go, we have a good range of libraries available that solve this problem
it is mainly a fact of doing it consciously. For that reason I see a lot of
projects adding TLS, for example, Prometheus did it a few weeks ago.

https://github.com/prometheus/prometheus/blob/5bd7145e554dfb

[2021-02-04 13:25] gianarb opened #434 "Extend template to accept namespace (pid)"
Hello

This morning I had some fun with @thebsdbox pairing on writing action to kexec inside a new shiny operating system.

The outcome is this action https://github.com/tinkerbell/hub/pull/8 . It almost works. What is missed is the ability to attach the PID namespace of the host to the action itself.

We even streamed out work on [Twitch](https://www.twitch.tv/videos/900468397) and as you can see

[2021-02-04 13:51] thebsdbox commented on #434
Looking at the spec, we can later map the pid=<string> to either a named namespace or check if it's an int and map to the namespace ID.  https://github.com/opencontainers/runtime-spec/blob/master/config-linux.md#namespaces

I'm in favour of the simple option, it matches the underlying runtime Docker .. which matches its underlying runtime containerd.

[2021-02-04 20:00] gianarb commented on #434
@thebsdbox yep, I know that docker relays on what containerd can do that relays on what runc can do, the question is how much it is hidden in those layers and what do we want to support?

[code]

Do we want to act as a proxy and accept all the possible parameters? How it will be even possible or useful to use `pid: container:name`? Do we want to share PID namespace between actions (so mapping cont

[2021-02-05 01:16] jacobweinstock commented on #434
I lean toward using something like `pid: host` or `hostPid: true` for now, as we know the use cases (kexec, reboot) we need it for, and then revisit accepting others in the future when other use cases arise.

I think there are a few schools of thought here found in other projects.
[docker](https://github.com/tinkerbell/tink/issues/434#issuecomment-773568445): `see Gianluca's comment above`
[linuxk

[2021-02-05 10:13] thebsdbox commented on #434
+1

[2021-02-05 10:43] gianarb commented on #434
@thebsdbox @jacobweinstock I think with `pid: string` you are suggesting an enum? Or just an empty string? What other value should it get when it is not `host`?

[2021-02-05 13:40] mazzy89 commented on #426
@gianarb how do we want to make it look like the output of a `describe` in the "human" format when`show-events` flag is set to `True`?

[2021-02-05 15:30] gianarb commented on #426
I think we should do similar to what Kubernetes does and at the end, we
should print:

Events:
 # event1
 # event2
 # event3

To be honest, I don't have a clear answer for how the visualization should
look like, so I am open for suggestion!

On Fri, Feb 5, 2021 at 2:41 PM Salvatore Mazzarino <notifications@github.com>
wrote:

[2021-02-05 15:34] mazzy89 commented on #426
My suggestion here is to leave behind the table format for the `describe` and have as "human" format same as Kubernetes does and include Events at the bottom as you said.

[2021-02-05 15:38] gianarb commented on #426
I agree 100%, avoid any use of table!!

[2021-02-09 09:32] #425 closed

[2021-02-09 09:43] gianarb commented on #394
`Get` should have fixed this issue. `List` is not deprecated!!

[2021-02-09 09:43] #394 closed

[2021-02-09 10:18] gianarb opened #435 "Create cli command"
Currently, the CLI does not have a common way to create a new resource. Hardware gets `pushed`, template and workflows get created for example.

Even between templates and workflows, the features are different. You can create a template via a file with `--path` but not a workflow.

It is time to have a consistently create command as we have for delete #425 and get.

---

## Input channel

The crea

[2021-02-09 10:27] thebsdbox commented on #434
This is a bit of a blocker on new actions we're wanting to write, has there been the opportunity to write anything so far?

[2021-02-09 15:05] mmlb commented on #435
I'd rather not see 2 different forms of specifying paths, normal `-` is a unix short hand for stdin where ever a filepath is expected. For example:

[code]
also see `man curl` for `"-"`, there are many others :D.

So I'd rather see `tink template create path, if path is `-` read from stdin. If path is not given read from stdin (if stdin is a tty print a "reading from stdin" message to stderr). Oth

[2021-02-09 15:17] markyjackson-taulia commented on #434
@thebsdbox I am starting this wrk today

[2021-02-09 15:39] mmlb commented on #435
This is currently working as designed right? Workflows are only ever meant to be created from a preexisting template so it doesn't make sense create a workflow based off of a file.

Well yaml is a superset of JSON so we can probably just parse the json with yaml reader :D. I tried the following and it worked:

[code]
[code]

[2021-02-09 16:36] thebsdbox commented on #434
Awesome, I did a PoC today so I could carry on playing -> https://github.com/thebsdbox/tink/tree/pid feel free to pull anything from there that makes sense. I've never used `protos` before so I had to kinda make it up as I was going along 😬  I also missed the db bit so all the bits looked like they should work but the pid stuff didn't exist inside the tink-worker 🙄

[2021-02-09 16:44] #414 closed

[2021-02-09 17:03] gianarb commented on #435
You should be able to describe workflows as a file like:

[code]

[2021-02-09 17:47] gianarb commented on #218
I am gonna close this for now because that's not right. tink-worker needs to report back to tink-server the status of the action it executes.

I agree we should make it clear and it should have limited access but for that it needs access control

[2021-02-09 17:47] #218 closed

[2021-02-11 15:21] thebsdbox commented on #434
This can be closed with #436

[2021-02-11 15:21] #434 closed

[2021-02-17 14:06] invidian opened #439 "Allow configuring DNS server for worker machines via DHCP"
## Expected Behaviour
Hardware DHCP entry should have a dns servers field which should accept one or more DNS resolver, which will be offered as part of DHCP response to the worker nodes.

## Current Behaviour

DNS settings on worker machines must be configured manually, e.g. using userdata.

## Possible Solution

## Context

## Your Environment

* Operating System and version (e.g. Linux, Windows

[2021-02-18 11:53] parauliya commented on #435
Yes @mmlb , I agree with you here because Workflows are nothing but a template for a designated hardware and so it is created on run time and fetch the required template during creation.

[2021-02-18 12:00] parauliya commented on #435
@gianarb , For now `workflow` required only `templateID` and `device` which is targeted hardware. Also we do not define the workflow with it's name because it is being created from a template which already has a `name`. I don't see a requirement of a file until we decide to have some more parameters which are `workflow` specific.
If you have such use cases in mind please elaborate them here.

[2021-02-18 15:00] gianarb commented on #435
@parauliya @mmlb I think you are confusing declarative vs imperative. And we do not know what we are (not true https://tinkerbell.org/ this site says "declarative")...

Random link from google: https://tech.ovoenergy.com/imperative-vs-declarative/

So, here the question is: "do we want to implement declarative and imperative at the same time or do we want to take a step back and do only one?"

I t

[2021-02-18 18:31] mmlb opened #440 "Workflow version needs bump"
The workflow/template spec effectively changed via #436 but tink's validation wasn't updated and should be. We should also validate that only `""` and `"host"` are accepted.

## Expected Behaviour

Running a workflow template with pid namespace config should fail on older tink deployments. We should support template version 0.2 and only support pid ns in templates >= 0.2.

## Current Behaviour

Pi

[2021-02-18 18:32] mmlb commented on #440
I've got the beginnings of some code for this already but can't continue with it for a little while yet.

[2021-02-18 18:33] mmlb commented on #440
@thebsdbox bringing to your attention

[2021-02-24 18:31] splaspood commented on #381
In my opinion this is most certainly a bug.   A deleted workflow still has state in the database that could be returned here.   If the intention is to not return data for deleted workflows, then the state command should return an error when looking up a 'nonexistent' workflow.

[2021-02-24 18:47] gianarb commented on #381
I think we should leave it there for visibility and troubleshooting purpose
at least for some time. For the same reason kubernetes doesn't delete
resource straight away.

But I am not sure how it works today

On Wed, 24 Feb 2021, 19:32 James W. Brinkerhoff IV, <
notifications@github.com> wrote:

[2021-02-25 07:04] parauliya commented on #435
@gianarb , I agree with your point that we should have declarative or imperative or both for all the resources. Right now for hardware and template creation we required a file which is declarative and for creation of workflows we have  imperative approach/command since it does not need a file atleast for now. But as you correctly said we would like to execute a workflow with multiple workers in th

[2021-02-25 14:18] gianarb commented on #439
Not sure if it is what I am looking at but boots accept a DNS env var that can be used for something :D probably to configure this. @mmlb do you know more?

Thanks

[2021-02-25 14:47] mmlb commented on #435
@gianarb interesting, I didn't think about the workflow runs being declarative. I understand why you want to do it but idk it feels a little forced or taking it too far? Also `tink create` is by definition imperative so if we wanted a fully declarative setup I think we'd should go with `declare` or some other verb instead. And if we did go with the declarative command I'd think it be best to do it

[2021-02-25 14:57] gianarb commented on #435
You are right! So probably we should say: "tink create is imperative" so we
have to figure out flags and things like that. Right?

[2021-02-25 15:07] mmlb commented on #435
Yep, I think hardware and template can most likely share the same args, worfklow will have its own. Maybe we want other subcommand to start a workflow? run?

[2021-02-25 15:15] gianarb commented on #435
Spoke with @mmlb for now we are gonna stay with create, and we are not ready to rename workflows to something else. So... Let's recap:

Create is an imperative command, which means that we need the ability to declare flags per resource. @parauliya can you analyze and write a comment with the various flag we should have per resource? And when we agree with that you can start the actual implementati

[2021-03-03 11:45] thebsdbox opened #445 "Template create function appears broken"
## Expected Behaviour

The `-p` flag would read a file, or if no `stdin` happens it exists gracefully..

## Current Behaviour

[code]
Create will hang if nothing is piped in.

## Possible Solution

## Steps to Reproduce (for bugs)

Example is show above.

[2021-03-03 11:59] gianarb commented on #445
With the information I got speaking with Dan this is a problem he is currently experiencing with sandbox/master branch.

We have to validate if it is still valid with the newest version of `tink/cli`.

[2021-03-03 12:14] Cbkhare commented on #382
hey @invidian ,  nice catch!

I tried reproducing the issue and below are my findings.

- The error which is visible to us is actually not the root cause. Workflow execution has failed way before while pulling the image. It can be seen in the tink-worker logs with message `no space left on the device`.
- What we are observing is that the exit should have been before creating the container, which d

[2021-03-03 13:17] #445 closed

[2021-03-03 13:44] parauliya commented on #435
@gianarb @mmlb ,

Following are the command and flags for each resource for `Create` cli:
1. Hardware:
    For hardware there can be two ways:
    1.1. Provide a file which contain hardware data in json format using --file flag:
[code]
    1.2. Provide the data of the file as an input through `stdin` as follows:
[code]
2. Template
     For tempate also there can be two ways same as hardware:

[2021-03-03 14:59] gianarb commented on #435
Thanks @parauliya ! Great job summarizing what we have today. I think it is a good start. I would like to know if we can do better than what we have today. Those are my concerns:

1. Some create command take JSON (like hardware)
2. Other takes YAML (Template)
3. Others take random strings that looks like JSON (workflow -d)

How can we make it better? I pinged @mmlb and @thebsdbox privately but I t